[2016-04-20 19:55] jeremybmerrill opened #10 "Support Amazon SES instead of SendGrid?"
I think this would be doable by adding additional ENV VARS [here](https://github.com/themarshallproject/klaxon/blob/e83ee8b60df7308bbade2fc714107fe5afa2a542/config/environments/production.rb#L82-L88) to set the SMTP hostname and SMTP port; this would, I think, address the question of the Sendgrid dependency out of #8.

[2016-04-20 19:56] jeremybmerrill commented on #10
To be clear, I'd be happy to work on this, if it's the right approach. I'd love to set this up on our (Docker-based) infra.

[2016-04-20 20:38] ivarvong commented on #10
Yes, I'd like to support multiple SMTP providers. One way to do this (feedback welcome!) is by introducing a ENV var to prefix the SMTP setup vars.

As the default, we could set SMTP_PROVIDER=SENDGRID in `app.json` so the one-click deploy still works.

Then use something like:
[code]

...which would allow other providers. Thoughts?

@rdmurphy started a Dockerfile: https://github.com/themarshallpro

[2016-04-20 20:50] jeremybmerrill commented on #10
That's clever! I was planning on using @rdmurphy's image and stuff. I don't know from Heroku, so I'll take your word on the `app.json` stuff.

And @jeremyjbowers, I'll race you to deploy Klaxon on our infra. *3*... *2*... *1*...

(And assuming `address   = ENV["#{provider}_ADDRESS"]`, etc., right?)

[2016-04-20 21:04] ivarvong commented on #10
@jeremybmerrill Good catch – I updated the snippet with the `ENV[]` that I forgot initially.

There are a couple unfortunate bugs right now (I did not setup `dependant_destroy`, for one, so bad things happen when things are deleted). If you all want to be early testers, I'd be forever grateful, but no worries if you want to wait until it stabilizes a bit more.

[2016-04-20 21:05] rdmurphy commented on #10
I think this sounds awesome! 🎈

[2016-04-21 15:25] ivarvong commented on #10
@jeremybmerrill generous PR (thanks!) has been merged to `develop`. Should we keep this issue open?

[2016-04-21 15:26] jeremybmerrill commented on #10
I don't think so. I can imagine there are some weirder SMTP providers that might not work with this exact setup, but that bridge can be crossed then, right?

[2016-04-21 15:27] ivarvong commented on #10
+1 for crossing the bridge then. Closing for now

[2016-04-21 15:27] #10 closed

[2016-04-21 21:14] jeremybmerrill opened #13 "Bookmarklet doesn't work in Firefox"
[code]
I assume that the solution is just to add `event` as an argument here:
https://github.com/themarshallproject/klaxon/blob/master/app/views/embed/inject.js.erb#L97

but I'm not sure.

Worked fine in Chrome on my install.

[2016-04-21 21:21] ivarvong commented on #13
thanks. i wanted to avoid jquery here, but appear to have forgotten my non-chrome javascript things. will look into this tomorrow.

[2016-04-21 22:45] jeremybmerrill commented on #13
I added "event" as an argument and it works fine now (no jQuery needed). I guess Chrome automatically adds `event` as an argument, but Firefox doesn't?

[2016-04-22 17:46] rdmurphy commented on #13
`event` is a global in Chrome and IE (AKA it's on `window`), Firefox doesn't sneak it in. My guess that's what's causing this issue.

[2016-04-24 23:37] rdmurphy opened #14 "Configurable outbound email?"
Not 100% sure if the bug is on my end or not — I was trying to set up Klaxon to use the Tribune's SES account, and it threw an unverified email address error.

[code]

The error makes sense — our SES account hasn't verified `no-reply@newsklaxon.com`, so it turns it away. Should it be possible to [set the email address to use](https://github.com/themarshallproject/klaxon/blob/develop/app/mailers/ap

[2016-04-24 23:41] rdmurphy commented on #14
Will ping @jeremybmerrill on this one too, not sure if he has hit this yet.

[2016-04-24 23:54] jeremybmerrill commented on #14
yes, that's what you need to do, this is what I did: https://github.com/newsdev/klaxon/commit/a498f15261965de2a7aae01c82471719dad3b633

[2016-04-24 23:55] jeremybmerrill commented on #14
there may be a better way to do it, but that change made it work for me.

[2016-04-25 15:21] ivarvong commented on #14
yep, this totally makes sense. i'll extract this to ENV with a fallback

[2016-04-28 15:03] rdmurphy opened #16 "Configurable time zone"
Let me know if we're approaching config overload, but should `config.time_zone` also be an ENV variable?

https://github.com/themarshallproject/klaxon/blob/e83ee8b60df7308bbade2fc714107fe5afa2a542/config/application.rb#L26

Just noticed our version is an hour ahead. 😁

[2016-04-28 15:05] arossback commented on #16
Should this be configurable by user?

[2016-04-28 15:07] rdmurphy commented on #16
Yeah, I that would make sense. No guarantees that every person on a team is in the same TZ.

[2016-04-28 15:20] ivarvong commented on #16
@rdmurphy What if we extract all these config things to providers in https://github.com/themarshallproject/klaxon/blob/master/app/models/app_setting.rb – timezone, email sender address, etc, with fallbacks for the one-click Heroku use-case. I'm happy to do this in the next few days.

Per-user timezone totally makes sense, but maybe after we've stabilized the initial feature set?

[2016-04-28 15:28] rdmurphy commented on #16
Yeah, I think that'd work. And no rush! Everything is standing up fine with the current set up (at least for our test version).

[2016-04-28 19:08] ivarvong commented on #16
Models are loaded when `config/application.rb` runs, so I came up with: https://github.com/themarshallproject/klaxon/commit/621550f0bf9bece519b95bbbbaaa31448b323de2 Feedback welcome.

[2016-04-28 19:10] ivarvong commented on #14
The mailer default sender now comes from `ENV['MAILER_FROM_ADDRESS']` (https://github.com/themarshallproject/klaxon/commit/13940887385d778079790e5747d6018f9fe334c2)

Thoughts?

[2016-04-28 19:39] ivarvong commented on #13
Still doesn't work, but the `evt` arg is there at least. That was... silly. https://github.com/themarshallproject/klaxon/commit/326aaec64352ccf50043f2521561e7fcfd4f8ecd#diff-845065c76fc209c11afe4d3b4363283cR99

[2016-04-28 19:49] jeremybmerrill commented on #14
👍

[2016-05-03 18:57] myersjustinc opened #17 "`rake check:all` not detecting changes reliably"
I'm trying to evaluate Klaxon for possible use in my newsroom, and I've been seeing some weird behavior from the `check:all` Rake task: It sometimes detects too many changes (both the addition of content and its removal, at the same time) or ends up with a rollback in the middle of looking for changes. (Happy to split this up into two issues if you'd prefer.)

More details below. Would love to fig

[2016-05-03 19:37] ivarvong commented on #17
Thanks for the detailed bug report! I'm excited that you're interested in the project, and the detail here is really helpful.

The multiple emails/changes is almost surely a bug in the "did something change?" calculation. (We separated the snapshotting from the diffing, so a hiccup in the former won't suppress notifications on the next run) I'll get this failure mode reproduced in a spec and updat

[2016-05-04 15:54] tommeagher opened #18 "Postgres error on deploying from master branch"
Tried to test the Heroku deployment and got an error message during the build that seems to indicate a missing table in the PostGres setup.

Here's the log:

[code]

[2016-05-04 16:03] ivarvong commented on #18
On first app boot, this error occurs, but is rescued. The rescue block dumps the error (https://github.com/themarshallproject/klaxon/blob/fe46e0c31ef9cf5120b727b48917c574c2e9cd82/config/initializers/default_host.rb#L8) and looks broken. It's definitely worth making this more intuitive. Thanks @tommeagher!

[2016-05-04 16:09] tommeagher commented on #17
Hey @myersjustinc, thanks so much for helping to kick the tires on Klaxon. This kind of feedback is super helpful as we continue development. At the moment, we're not quite finished with a release that is truly ready for users, but we hope to be there soon. We'll get issues like this buttoned up before we make that release public, and we hope you'll take another test of the system once it's produc

[2016-05-04 21:35] myersjustinc commented on #17
Thanks for the quick responses!

[2016-05-05 17:20] rdmurphy commented on #17
Just wanted to add — I've experienced this issue, too. Let's just say the multiple emails that do get sent when a change happens does a great job of getting my attention. 😜

[2016-05-05 17:22] rdmurphy opened #19 "Should robots.txt default to disallow all?"
Does Klaxon seem like a thing that should always turn away spiders? I know the login will stop them, but I could see the argument for never announcing this exists to search engines.

[2016-05-05 18:40] ivarvong commented on #19
Seems fine to disallow all spiders, yeah. Good call!

[2016-05-11 15:32] ivarvong commented on #17
Actual work-in-progress branch for this: https://github.com/themarshallproject/klaxon/pull/22

[2016-05-20 01:51] #19 closed

[2016-05-20 01:52] ivarvong commented on #16
Does `ENV['TIME_ZONE']` work for you @rdmurphy?

[2016-05-25 07:03] anderser opened #24 "Not possible to delete a watched page"
Maybe I am just not finding the button, but is there no way of deleting a site from the watch list?
I had to delete using SQL query.
Looks like there is a destroy endpoint https://github.com/themarshallproject/klaxon/blob/master/app/controllers/pages_controller.rb#L68-L72, but maybe just button missing?
My Ruby knowledge is extremely limited, so no pull request for now :)

(BTW great project!)

[2016-05-28 20:24] tommeagher commented on #24
Hi Anders! Thanks for flagging this. This is an issue we're aware of, and it's one of the ones that @ivarvong and @arossback are working on as we make the final touches on a usable release. Our hope is to have that wrapped up in the next week or so for newsroom developers to continue testing. This is super helpful feedback, though, and we appreciate you filing the issue. If you want to try Klaxon

[2016-05-31 21:54] rdmurphy commented on #16
Doh, sorry for the delay. Sounds good, @ivarvong!

[2016-05-31 21:55] #16 closed

[2016-06-01 18:25] ivarvong commented on #18
Closed in https://github.com/themarshallproject/klaxon/pull/25. Thanks @tommeagher!

[2016-06-01 18:27] tommeagher commented on #18
👏

[2016-06-01 18:28] #14 closed

[2016-06-01 18:39] ivarvong commented on #13
The bookmarklet needs definitely needs some work, but the event handler argument bug is fixed (in master: https://github.com/themarshallproject/klaxon/blob/master/app/views/embed/inject.js.erb#L99). I'm going to close this for now, but feel free to open other bookmarklet-related issues separately.

[2016-06-01 18:39] #13 closed

[2016-06-16 22:13] ivarvong commented on #17
@myersjustinc I created a [stub server](https://github.com/themarshallproject/klaxon/blob/f63e8594925480279bd23209ecaf18682664e830/spec/support/fake_time_server.rb) to improve the [coverage](https://github.com/themarshallproject/klaxon/blob/f63e8594925480279bd23209ecaf18682664e830/spec/requests/change_spec.rb#L14-L30) on my (hopeful) fix for the multiple/out-of-order notifications. Hoping to get a

[2016-06-17 21:31] ivarvong commented on #17
@myersjustinc @rdmurphy @tommeagher I just merged into `master` – please feel free to pull at your convenience and let me know it goes! Thanks!

[2016-06-17 23:22] rdmurphy commented on #17
Awesome! I'll try to get this pulled in over the weekend.

[2016-06-18 02:23] myersjustinc commented on #17
Thanks, @ivarvong! On vacation for a couple more days, but I'll take it for a spin when I'm back in the office.

[2016-06-23 20:50] ivarvong commented on #17
I caused a pretty major bug when merging this, which is now resolved in `master`.

[2016-06-24 15:46] arossback opened #29 "error handling for incorrect url scheme"
if a url starts with a space, the watching page breaks because there is a parse error on the url. example:

[code]

after removing the leading whitespace, everything worked again. can we trim urls and/or add some graceful fallback for assuming all URLs can parse correctly?

[2016-06-24 15:49] ivarvong commented on #29
thanks, @arossback. looks like we should extract a method here: https://github.com/themarshallproject/klaxon/blob/8a6fc1fb6fd7995ac17627db753ba11e7bf4b2f3/app/views/pages/index.html.erb#L43 that doesnt assume a parseable uri.

[2016-06-24 19:05] ivarvong commented on #29
Mostly addressed with commit: https://github.com/themarshallproject/klaxon/commit/d6aa7918160fa884b29e6645a2478f16628c0bea

[2016-09-09 20:10] Srol opened #30 "Klaxon sending repeated alerts for website that hasn't changed (gawker.com)"
One of our reporters set up an alert for the main content section of gawker.com so they could get an alert if and when it was ever updated or altered. It's been two days since then and Klaxon has sent three alerts for changes, yet the substance of all the alerts don't seem to indicate anything has changed.

I attached screenshots of all the alerts in question (each one appears to be more or less t

[2016-09-09 20:43] ivarvong commented on #30
Thanks for the issue report!

My guess is that the CSS selector of "section.main" is not specific enough. Finding the right selector is a bit of an art, but finding something more specific to headlines, without metadata, may help. Does that make sense?

[2016-09-09 20:45] Srol commented on #30
It does. I just thought it was weird it was sending these diffs where nothing appeared to be different. I'll give that a try.

[2016-09-15 18:23] tommeagher opened #31 "Cancel/close the bookmarklet"
Once you've activated the Klaxon bookmarklet on a page you want to watch, you can't get rid of it and stay on the page without reloading the page. Should we add a cancel/close button?

[2016-09-15 18:38] tommeagher opened #32 "Flesh out documentation for deployment via Docker"
I believe @rdmurphy is working on this [here](https://github.com/themarshallproject/klaxon/blob/master/DOCKER.md). Not sure how much more there is to add, or if it should be referenced explicitly in the main [README](https://github.com/themarshallproject/klaxon/blob/master/README.md).

[2016-09-15 18:40] tommeagher opened #33 "The "Creator" field in the Feed doesn't display the user's name"
![screen shot 2016-09-15 at 2 39 51 pm](https://cloud.githubusercontent.com/assets/713778/18562584/51e832b0-7b52-11e6-8f0d-4756c2795ff0.png)

[2016-09-15 18:53] tommeagher opened #34 "Finish wiring in the stats dashboard on a snapshot page."
![screen shot 2016-09-15 at 2 52 55 pm](https://cloud.githubusercontent.com/assets/713778/18563062/27da60ea-7b54-11e6-802a-9ea51f64664b.png)

[2016-09-15 18:54] tommeagher opened #35 "404 when trying to add a note to a snapshot"

[2016-09-15 18:56] tommeagher opened #36 "Remove or reword "Watch your first item" box after first klaxon is set up"
![screen shot 2016-09-15 at 2 55 02 pm](https://cloud.githubusercontent.com/assets/713778/18563119/70af0956-7b54-11e6-8bfd-09877951e7a2.png)

After I'm already watching items, it should no longer say "watch your first item".

That box also appears at the top of the help page for some reason.

[2016-09-15 19:00] tommeagher opened #37 "Add link to user help from README"
Insert this at end of 2nd graf:

``` [If you need help using Klaxon, [you can find it here.](https://github.com/themarshallproject/klaxon/blob/master/data/help.md)]```

[2016-09-15 19:10] tommeagher opened #39 "Add section on upgrading Klaxon to user help"
Should [this section](https://github.com/themarshallproject/klaxon#applying-upgrades-as-the-project-develops) on how to merge new changes into your Klaxon instance be absorbed into the main [user help](https://github.com/themarshallproject/klaxon/blob/master/data/help.md) within the app?
This was a suggestion we got from our former intern Emily Hopkins.

[2016-09-15 19:12] tommeagher opened #40 "Add help on "manually" adding a page to Watch"
This is an undocumented feature on the Watching page. Should we explain to people how to use it?

[2016-09-15 19:17] tommeagher opened #41 "Better explain how to use the bookmarklet"
We got feedback from our user testing that some people found the use of the bookmarklet confusing. Some people weren't familiar with CSS selectors or html and weren't quite sure what exactly they were selecting. Other users didn't really know what a bookmarklet is or how it works.

How can we improve the [user documentation](https://github.com/themarshallproject/klaxon/blob/master/data/help.md#the

[2016-09-15 19:19] tommeagher opened #42 "Improve the documentation"
What can we do to make the documentation [for users](https://github.com/themarshallproject/klaxon/blob/master/data/help.md) and for [developers/maintainers](https://github.com/themarshallproject/klaxon/blob/master/README.md) more clear and easier to use? We're hoping our new community can bring fresh eyes to these and offer some suggestions (and pull requests).

[2016-09-15 19:22] tommeagher opened #43 "Add functionality for monitoring files on the web for changes"
@ivarvong had incorporated this into previous versions of Klaxon and likely has some thoughts on how it might be accomplished here.

[2016-09-15 19:23] tommeagher opened #44 "Add additional types of alerts"
Twitter feed or RSS were two ideas we had batted around. SMS? What other alerts would you like to get?

[2016-09-15 19:24] tommeagher opened #45 "Deployment script/instructions for generic Linux box"
We've chosen Heroku to make this as easy as pie, and some contributors have added Docker support. Where else would you like to deploy this? Can you offer the setup scripts to share with similar users?

[2016-09-15 19:26] tommeagher opened #46 "An API for the Feed to custom scrapers"
Klaxon is about making it dead simple for someone to watch a basic HTML page, the kind many government websites still use. The feed, the alerts and the snapshot comparisons are all very useful for this. But I could imagine some people might like to add more complex scrapers of their own devising but still make use of the alerts and the feeds.
What would this entail?

[2016-09-15 19:27] tommeagher opened #47 "Audio/visual alerts"
What would it take for Klaxon to integrate with an arduino that gave audio or strobe light alerts when an update is detected?

[2016-09-15 19:45] tommeagher opened #48 "Update splash page for newsklaxon.org to indicate release"
@arossback can tweak this. We probably don't need to move people to the email announcement list. Rather, they can go directly to Github to "Set it up in your newsroom."

The copy at the bottom of the page will need to be updated accordingly.

[2016-09-15 19:46] tommeagher opened #49 "Cut an official developer's release"
What version should [this be](https://github.com/themarshallproject/klaxon/releases), @ivarvong?

[2016-09-15 21:46] arossback commented on #48
Made some copy changes: https://github.com/themarshallproject/klaxon/commit/30084d87492c943e157eac65263639199845f6a6

[2016-09-22 18:06] #37 closed

[2016-09-22 18:27] tommeagher commented on #48
These changes still don't appear to be propogating on newsklaxon.org

[2016-09-25 22:10] ivarvong commented on #49
I pushed up tag `v0.1.0`: https://github.com/themarshallproject/klaxon/tree/v0.1.0

[2016-09-25 22:25] ivarvong commented on #48
https://newsklaxon.org points at an AWS CloudFront distribution that provides caching and HTTPS. That distribution, `d1fsrxbeh8y22j.cloudfront.net.`, pulls from S3 bucket `tmp-klaxon-marketing`.

I just manually synced the changes on `gh-pages` to S3.

[2016-09-25 22:25] #48 closed

[2016-09-25 22:25] #49 closed

[2016-09-26 21:44] xaranke commented on #42
Include a TLDR. Most people never read READMEs in their entirety and having a quick summary would be useful.

[2016-10-05 19:53] tommeagher commented on #42
@xaranke this is a great idea. What do you think the TLDR should include? Any chance you want to take a stab at writing it?

[2016-10-25 21:33] richardsalex opened #51 "Typo in text of login email"
Message currently says: "You're **_recieving_** this email because you just tried to log into your Klaxon account." (emphasis mine)

[2016-11-21 17:01] jeremybmerrill opened #53 "Klaxon doesn't follow 301 redirects -- should it?"
I had been watching an agency's site that had an HTTP URL. That site implemented HTTPS by default in late October. (Good on the government! :) But a distracting time for me.) The site would issue a 301 for HTTP requests to point to the same URL under HTTPS.

This confused Klaxon. After the redirect was set up, the response body was empty, so my selector didn't match, so the email I got from Klaxon

[2016-11-24 16:15] tommeagher opened #54 "An alert if a page *doesn't* update"
Sometimes a page changes URL or design and then you never hear from it again.
It would be good to get a notice if something hasn't updated in a month, or maybe 45 days, to alert a user to check if the page they're watching has moved rather than failing silently.

[2016-12-23 16:10] jeremybmerrill opened #56 "special-case the CSS selector generator for <tables>?"
Hey y'all,

I've noticed wonky behavior when trying to set up an alert for a table. Often, the only visible space in the table is a bunch of <tr> elements. When I set up an alert using `tr` as the selector (possibly with additional context, like `.whatever #whatever tr`), the output looks pretty bad. If I fix it to be `table`, everything works perfectly. I wonder if it'd be worthwhile to special-c

[2016-12-23 17:15] tommeagher commented on #56
@jeremybmerrill, we're thrilled to hear you're using it a ton. This is an interesting issue, and one we can ponder a bit. It's definitely an art to getting the right selector, and it's hard to guess sometimes what the user really wants, as you point out. We'll give this a little thought.

We're hoping after the new year to iron out a lot of these open issues and bugs to prepare a new release ahead

[2016-12-26 17:24] ajshapell commented on #31
@tommeagher I believe this enhancement makes sense to incorporate. I have done so in PR 57, referenced above.

[2017-01-03 18:43] tommeagher opened #58 "Can't use bookmarklet when not signed into Klaxon"
If you're not signed into a Klaxon session, the bookmarklet will take over a page, but the right sidebar won't appear, so you can't save or close.
The preferred behavior would be for that sidebar to pop up with a signin box that would then reload the page (and bookmarklet) for you.

[2017-01-03 18:55] tommeagher opened #59 "Delete button needed on edit page"
You should be able to destroy a klaxon from its edit page rather than just the watch page.

[2017-01-05 16:33] tommeagher commented on #31
Closed by pull request #57. Thanks, Ari!

[2017-01-05 16:33] #31 closed

[2017-01-06 20:17] tommeagher commented on #33
This is also empty on the "Watching" page.

[2017-01-06 20:27] richardsalex commented on #51
👍

[2017-01-06 20:28] #51 closed

[2017-01-10 16:48] tommeagher opened #62 "Edit CSS selector inline in the bookmarklet to get visual feedback?"

[2017-01-10 16:50] tommeagher opened #63 "Styling on header"
![screen shot 2017-01-10 at 11 50 02 am](https://cloud.githubusercontent.com/assets/713778/21815534/f13c18fc-d72a-11e6-85da-6b0eadd8ab5c.png)

Shouldn't overlap with content when scrolling down.

[2017-01-10 16:51] tommeagher commented on #62
Could help deal with issue #56.

[2017-01-10 16:59] tommeagher opened #64 "First comparison of snapshots for a page returns 500 error"

[2017-01-12 13:43] tommeagher opened #65 "Add a CONTRIBUTORS file"
We should recognize everyone who has contributed to the project in code, documentation or other support.

[2017-01-13 20:18] tommeagher opened #66 "Setting two Klaxons on a single page"
Per a report from @jeremybmerrill:

The current workaround is to manually add a second watcher, but we should think about how the bookmarklet should handle multiple alerts for a single page.

[2017-01-18 23:54] GabeIsman commented on #64
This was happening because the database had a pending migration that was causing an after_create hook to error out. So the second time you view the change, it already exists, and the hook doesn't run, and hence, doesn't error. Fixed now.

[2017-01-18 23:57] GabeIsman opened #68 "Bookmarklet selector feedback is confusing"
It's pretty confusing how the selector continues to update after you have clicked to select an element. There should be some visual indication of what the selected element is, or something similar.

[2017-01-19 16:15] #29 closed

[2017-01-19 17:08] GabeIsman commented on #24
Fixed in develop.

[2017-01-19 17:08] #24 closed

[2017-01-19 17:09] GabeIsman commented on #33
The data was not being collected on page creation. Fixed in develop.

[2017-01-19 17:09] #33 closed

[2017-01-19 17:10] GabeIsman commented on #58
This now loads the login page (on develop). The reload behavior is not yet implemented.

[2017-01-19 17:10] GabeIsman commented on #59
Fixed on develop.

[2017-01-19 17:10] #59 closed

[2017-01-19 17:15] GabeIsman commented on #63
Fixed on develop.

[2017-01-19 17:15] #63 closed

[2017-01-19 20:30] tommeagher opened #69 "Add command line release upgrade instructions in README"
For users comfortable with git, it can be much easier for them to upgrade to the newest release.

[2017-01-19 20:45] tommeagher opened #70 "Customize organization name"
Using a config variable on the Heroku page, allow users to customize the name of their Klaxon instance so it's clear to users it is owned by their newsroom.

This could appear in the <title> tag or the header could say  "Klaxon at the Marshall Project", for instance, instead of just "Klaxon".

If we do do that, we should allow users to customize this through the settings dropdown as well.

[2017-01-19 23:06] GabeIsman commented on #36
Mostly this was a byproduct of not properly attaching user information to pages. Fixed in develop.

[2017-01-19 23:06] #36 closed

[2017-01-19 23:21] GabeIsman commented on #34
There isn't an easy way to actually calculate this, although it does seem useful. I've removed it for now.

[2017-01-19 23:21] #34 closed

[2017-01-19 23:23] #30 closed

[2017-01-20 01:11] tommeagher commented on #65
closed by 6351000

[2017-01-20 01:11] #65 closed

[2017-01-20 17:28] tommeagher commented on #70
This could also customize the sender of the email alerts, which right now is just "Klaxon"

[2017-01-20 19:25] GabeIsman commented on #35
Fixed on develop.

[2017-01-20 19:25] #35 closed

[2017-01-20 20:24] GabeIsman commented on #64
This is still not fixed h/t @tommeagher .

It seems to be a problem related to turbolinks. I can only reproduce when I click 'Past Snapshots' from the change page, and then click 'Compare'. If I reload the snapshots page before clicking 'Compare' it works. Disabling turbolinks resolves this problem.

Looking for solutions now.

[2017-01-20 20:51] #64 closed

[2017-01-20 20:54] GabeIsman commented on #17
This seems to be fixed. I couldn't reproduce the rollback issue that @myersjustinc identified, but it looks like just a side-effect of a rails optimization to me.

[2017-01-20 20:54] #17 closed

[2017-01-20 21:02] tommeagher opened #72 "Calculating the estimated next diff seems to be off."
![screen_shot_2017-01-20_at_3 22 22_pm_360](https://cloud.githubusercontent.com/assets/713778/22165434/bc6bc576-df29-11e6-86a2-552d89b43957.png)

[2017-01-20 21:09] GabeIsman commented on #72
Fixed on develop.

[2017-01-20 21:09] #72 closed

[2017-01-23 18:53] GabeIsman commented on #58
This is fixed on develop.

[2017-01-23 18:53] #58 closed

[2017-01-23 21:33] GabeIsman commented on #68
This has been improved on develop.

[2017-01-23 21:33] #68 closed

[2017-01-25 17:42] tommeagher opened #73 "Limit the width of the diff on the change page"
The diff is *much* easier to read on the email alert than in the change page in Klaxon itself. I wonder if we limit the width of the diff and force it to wrap if that wouldn't make it more accessible.

## on the site
![screen shot 2017-01-25 at 12 39 53 pm](https://cloud.githubusercontent.com/assets/713778/22302117/6fdf1692-e2fb-11e6-9e97-7adc2c3836b2.png)

## on email
![screen shot 2017-01-25 at

[2017-01-25 17:46] tommeagher opened #74 "Is the number of changes being counted correctly?"
The change page for a Klaxon alert states how many times a page has changed, like this:

![screen shot 2017-01-25 at 12 43 48 pm](https://cloud.githubusercontent.com/assets/713778/22302267/093180d2-e2fc-11e6-80a7-f6a2730d2e6f.png)

But when I look at the number of snapshots, I see this:
![screen shot 2017-01-25 at 12 43 59 pm](https://cloud.githubusercontent.com/assets/713778/22302286/17fc8972-e2f

[2017-01-25 18:29] GabeIsman commented on #73
That's interesting. I was also thinking about switching to a Github-style side-by-side diff. What do you think of that?

[2017-01-25 18:29] GabeIsman commented on #74
Good catch, looks like it's just counting the number of snapshots.

[2017-01-25 18:30] tommeagher commented on #73
I'm totally fine with that, provided it falls to stacked (like on the email) at narrow browser widths.

[2017-01-27 14:36] arm5077 opened #75 "No "delete" button to remove a watched page?"
As best I can tell, there's no way to remove a page from the list of monitored sites within the GUI.

I've made do by clearing the URL, and I suppose I could delete the entry by jumping into the database, but am I missing something?

[2017-01-27 14:45] GabeIsman commented on #75
Hey @arm5077,

Thanks for trying out Klaxon!

This was missing from the initial release and has been added to the forthcoming 0.2.0 release. Which should be out early next week (or you can test it out now by deploying the develop branch).

[2017-01-27 14:45] #75 closed

[2017-01-27 14:49] GabeIsman commented on #74
Fixed on develop.

[2017-01-27 14:49] #74 closed

[2017-01-27 16:51] tommeagher opened #76 "Notify users when there's a new release available to upgrade"
We could handle this a number of ways. It'd be nice to have a visual cue in the app (maybe a badge next to the help button?) to alert users to a new tagged release and to nudge them to upgrade.

[2017-01-27 18:16] GabeIsman opened #77 "Evaluate switching away from SendGrid"
SendGrid is very slow to deliver emails. This is terrible UX for a login email. This is apparently a matter of policy for them: https://sendgrid.com/docs/Classroom/Send/When_Emails_Are_Sent/seeing_a_delay_with_your_first_few_sends.html

Should we be using Postmark or something similar that doesn't have this drawback?

[2017-01-30 20:57] tommeagher opened #79 "Dashboard date error"
![screen shot 2017-01-30 at 3 56 50 pm](https://cloud.githubusercontent.com/assets/713778/22441289/c5f8d4e8-e704-11e6-8412-537a59bce3d5.png)

This is on the feed page. It seems to be showing today's date instead...

[2017-01-31 11:10] tommeagher opened #80 "Wrong number of changes in email"
This is related to #74, I suspect. In the emails, it's giving us the wrong number of changes by counting the original, baseline snapshot.

![screen shot 2017-01-31 at 6 09 30 am](https://cloud.githubusercontent.com/assets/713778/22462610/fc22bbe8-e77b-11e6-8dc2-f1b00eb20ee3.png)

[2017-01-31 16:23] GabeIsman commented on #79
Fixed on develop, along with the typo in the text.

[2017-01-31 16:23] #79 closed

[2017-01-31 16:26] GabeIsman commented on #80
Fixed on develop.

[2017-01-31 16:26] #80 closed

[2017-01-31 16:43] tommeagher opened #81 "Search the diffs"
A reporter asked me yesterday if there was a way to search through the collected snapshots to find the first appearance of a word or phrase. Right now, I do this by manually diffing two snapshots. It would be great to make this searchable in some way.

[2017-01-31 21:29] GabeIsman opened #82 "Allow users to sort /watching/pages"
It would be nice to have some sorting/searching/filtering features on /watching/pages.

[2017-01-31 21:34] Srol opened #83 "Unable to monitor Twitter users for changes"
This could be one or two issues, but I thought it better to write them up as one. Our reporters wanted to use Klaxon to potentially monitor Twitter users for changes in their bios (especially since the service bioischanged.com recently shut down). We were unable to do this for two reasons:

1. The Klaxon bookmarklet does not unfurl on Twitter user pages.
2. Manually adding a page seems to detect n

[2017-01-31 21:46] GabeIsman commented on #83
Hey @Srol,

Thanks for the bug report! I'll take a look at this.

[2017-01-31 21:49] GabeIsman commented on #83
It looks like the bookmarklet isn't loading because it violates Twitter's CSP:

[code]

That doesn't explain why adding it manually isn't working though...

[2017-01-31 21:53] GabeIsman commented on #83
@Srol It looks like what's happening is that that selector only applies when you are logged in as the user and editing your profile. A more appropriate selector might be `.ProfileHeaderCard`. Can you give that a shot and let me know if it works?

[2017-01-31 21:57] GabeIsman commented on #83
I think there are a couple of takeaways from this:

1) It would be awesome to get around CSPs somehow. Need to do a little research on this, but a chrome extension would certainly do the trick. Maybe there's a clever way to fetch the javascript and then eval it or something dirty like that.

2) There should be better feedback on a) whether the selector is found on the page, and b) what text is fou

[2017-01-31 21:59] GabeIsman opened #84 "Restrictive CSPs prevent Klaxon from loading"
Twitter.com is a prime example. Thanks to @srol for reporting this in #83.

[2017-01-31 22:02] GabeIsman opened #85 "Better feedback on matched selectors and text"
There should be feedback on Klaxon on whether the selector you've given is found on the snapshotted page, and what text exactly is found inside. This would provide a quicker feedback loop in cases where you're adding a page manually, or where the content you're after is behind a login. Thanks to @srol and @yolimartinez for bringing this up. Related to #83.

[2017-01-31 22:02] #83 closed

[2017-01-31 22:05] Srol commented on #83
Thanks for looking into this @GabeIsman. I'll give that a shot and report back.

[2017-01-31 22:14] Srol commented on #83
That did it!

[2017-01-31 22:19] tommeagher commented on #83
👏 thanks @srol for reporting this, and thanks to @gabeismam for
investigating the issue so quickly.
A CSP workaround would be great, and in the meantime, we can improve the
docs to address this issue.
--
Tom Meagher
Deputy Managing Editor, The Marshall Project
<http://www.themarshallproject.org/>
PGP Public key
<https://themarshallproject-gpg.s3.amazonaws.com/tmeagher.asc>

[2017-02-01 22:54] GabeIsman opened #86 "Protect against bogus canonical urls"
Some sites (http://www.deathpenaltyinfo.org/alabama-0, e.g.) provide `<link rel="canonical">` tags with bad data (in this case, just the relative path and not the full canonical url). Klaxon currently uses the `rel="canonical"` or the `<meta name="og:url">` or the `location.href` in that order. Should we validate the alternate urls before relying on them? Is there a compelling reason to not just a

[2017-02-02 02:28] ivarvong commented on #86
Validation is a good idea, even if just for {scheme, host, path}. Hitting that URL endpoint and getting a non-empty reply would be better, perhaps.

The canonical check reduces duplicate records due to different query params on the same URL, ie tracking news articles with different social share UTM params.

[2017-02-02 15:34] GabeIsman commented on #86
That's a good point about duplicates. I think simple validation should be enough. I imagine the venn diagram of sites that have canonical url tags but screw them up is not huge. I guess you never know.

[2017-02-03 20:51] tommeagher commented on #45
@GabeIsman do you think #88 would address this issue?

[2017-02-03 20:57] GabeIsman commented on #45
@tommeagher I think so. Always happy to take more documentation from people who use other setups as well, but I feel as though we have quite a few options now. I'm gonna close this.

[2017-02-03 20:57] #45 closed

[2017-02-06 21:37] tommeagher opened #91 "Add links to Linux and Docker deployment guides to README"

[2017-02-08 18:51] myersjustinc opened #92 "Deleting active Slack integration causes repeat email notifications"
We've found in our (non-Heroku) installation at the AP that the `check:all` task errors out for a page under the following conditions:

*   The page was set to send notifications to a Slack integration.
*   The Slack integration was deleted altogether, but that integration was not first unchecked in the page's individual configuration.

This error occurs in such a way that email users still are no

[2017-02-09 17:44] rdmurphy commented on #32
Hello @tommeagher! Figured I'd just move the convo out of the closed pull request to here.

There's definitely more to add, and I think the first step is deciding how Klaxon could interface with Docker Hub. In other words, how do we get it set up as an automated build there? (Basically automates the `docker build` step you'd do if you were prepping it locally, and allows others to just pull down a

[2017-02-09 18:44] tommeagher commented on #92
@myersjustinc Hey Justin, thanks for this very thorough bug report. We'll dig into it.

[2017-02-09 22:30] jarib opened #93 "Unable to watch a Github organization"
I tried adding a Github organization page, which lead to this error being logged:

Refused to load the script 'https://[my-app-name].herokuapp.com/embed/inject' because it violates the following Content Security Policy directive: "script-src assets-cdn.github.com"

[2017-02-10 19:49] smbsimon commented on #81
+1 on this. Just swung by to share that we'd love to be able to set up specific alerts for keywords.

[2017-02-10 21:38] tommeagher commented on #93
Thanks for flagging this, @jarib. I believe this is related to issue #84, which we recently discovered on Twitter. For now, I think you can add an alert manually with the appropriate CSS selector if you go to ```your-klaxon-domain-here.com/watching/pages/new```.

I'll close this issue now as a duplicate of #84, but we'll think about how to make that easier to navigate with the bookmarklet.

[2017-02-10 21:38] #93 closed

[2017-02-13 23:15] tommeagher commented on #42
Addressed in 17343276331f97f8367d3f4c9a815a2c32321657. Thanks, @jacksongs!

[2017-02-13 23:15] #42 closed

[2017-02-13 23:15] tommeagher commented on #40
Addressed in 2516d4495994dcb7fbed7d61a926291eb0f98f46. Thanks, @yolimartinez!

[2017-02-13 23:15] #40 closed

[2017-02-13 23:16] tommeagher commented on #41
Addressed in 2516d4495994dcb7fbed7d61a926291eb0f98f46. Thanks, @yolimartinez!

[2017-02-13 23:16] #41 closed

[2017-02-13 23:23] tommeagher commented on #91
Closed by cd2ee869ed2b981ef3776fb7f130a4933509f1c7.

[2017-02-13 23:23] #91 closed

[2017-02-13 23:23] tommeagher commented on #69
Closed by 83af0071f66b9b673c1266fbc273cd26a5c81700.

[2017-02-13 23:23] #69 closed

[2017-02-13 23:31] tommeagher commented on #39
Closed by 2577bb1

[2017-02-13 23:31] #39 closed

[2017-02-17 05:20] jacksongs commented on #46
There's an Australian platform called morph.io that automatically runs scrapers (in Docker containers) every day. I have set up change detection style scrapers there in the past.

I'm not saying it can be used by Klaxon, but might be useful during the design phase.

[2017-02-17 05:30] jacksongs opened #96 "Cached version of page not updating"
Hello,

I've run into a problem since upgrading to 0.2 (master branch).

I am being alerted to the same change every scraper run (every 10 minutes) until I edit the page on in the admin interface.

Every change detected has suffered from this problem (4 so far this week).

Each email says "It has changed 1 times since Klaxon started monitoring it on".

Any suggestions for how to troubleshoot?

[2017-02-17 12:23] tommeagher commented on #96
Jackson, thanks for filing this issue. We've gotten a similar report from
another user. This sounds like a bug we should investigate. We'll look into
it, and if we need more info from you, we'll holler.
--
Tom Meagher
Deputy Managing Editor, The Marshall Project
<http://www.themarshallproject.org/>
PGP Public key
<https://themarshallproject-gpg.s3.amazonaws.com/tmeagher.asc>

[2017-02-17 12:29] tommeagher commented on #32
Hi @rdmurphy. Thanks for this. Option 1 seems like it'd make the most
sense. We haven't used Docker Hub before, so we'll look into this. If we
get stuck or need some advice, we'll ping you. Otherwise, we'll let you
know when this is set up.
--
Tom Meagher
Deputy Managing Editor, The Marshall Project
<http://www.themarshallproject.org/>
PGP Public key
<https://themarshallproject-gpg.s3.amazonaws.co

[2017-02-22 20:02] GabeIsman commented on #92
Thanks for all this detail @myersjustinc! I've just pushed up https://github.com/themarshallproject/klaxon/commit/8222f6b20cf20db1511887853174a20fd75f33fe which should fix this. It'll be included in a point release soon!

[2017-02-22 20:02] #92 closed

[2017-02-22 20:04] myersjustinc commented on #92
Many thanks!

[2017-02-23 15:59] GabeIsman commented on #96
Hey @jacksongs, thanks for the bug report and sorry for the trouble you're having. I've spent some time digging into this and trying to reproduce it, but haven't been able to. I have some theories though. This would happen if the sending of notifications fails for some reason. A recent change (https://github.com/themarshallproject/klaxon/commit/8222f6b20cf20db1511887853174a20fd75f33fe) should make

[2017-02-23 16:04] GabeIsman opened #97 "Upgrading does not run migrations automatically"
When a changeset adds migrations (as with the recent major release) existing deployments need to run them or the application will error out when the new tables are columns are accessed. This does not happen automatically, and no mention is made of it in the upgrading documentation. This should be baked into the [buildpack/configuration by default](https://github.com/gunpowderlabs/buildpack-ruby-ra

[2017-02-23 17:02] #97 closed

[2017-02-24 07:08] jacksongs commented on #96
Hi there,

Yes, I can imagine it's a difficult one to reproduce. I'm considering moving to a fresh 0.2 install. Let me know if there's anything I can pull out of the heroku machine - I'm still getting my head around the Klaxon architecture.

1. Yes, used the web UI upgrade method in the docs.
2. I removed the selector for the pages in question (assuming it would monitor the whole page), and I have

[2017-02-24 16:27] GabeIsman commented on #96
Moving to a fresh install should resolve the problem, but I think there's a less nuclear option as well.

Removing the selector does mean that no content is monitored (it seems as though this actually just causes the polling task to fail due to a css syntax error, an oddity of the library we are using).

Can you try something for me? I suspect that the spam notification behavior you were getting w

[2017-03-08 05:45] tommeagher opened #104 "death date is set incorrectly"
Death date is naive and doesn't account for time zones.
So when someone is executed at 12:06 Eastern on March 8, it's only 11:06 p.m. Central on March 7 in Texas, but the death date is set as March 8.

[2017-03-08 12:02] tommeagher commented on #104
Ahhh, the perils of late night coding when you find one small piece of an app malfunctioning in an edgecase, and you open a ticket in the wrong repo. Totally irrelevant to this project.

[2017-03-08 12:02] #104 closed

[2017-03-14 19:15] tommeagher opened #106 "A true admin status"
It would make sense to be able to remove users who have left an organization. Would you need users who are admins to have permission to clean out inactive users? And could those users Klaxons continue on?

[2017-03-14 19:16] tommeagher commented on #96
Hey @jacksongs, was this migration able to solve your issue?

[2017-03-16 07:48] jacksongs commented on #96
Hi Tom, I've been getting other alerts in the usual fashion, so it appears
to be fixed. I will keep you updated if it changes.

On Wed, Mar 15, 2017 at 6:16 AM, Tom Meagher <notifications@github.com>
wrote:

[2017-03-16 13:36] tommeagher commented on #96
Great. I'll close this for now. If you see any other problems pop up, let us know and we can re-open this.

[2017-03-16 13:36] #96 closed

[2017-03-20 22:01] dmil opened #107 "Bug? Clicking on "Latest Change" is triggering notifications"
I decided to try out klaxon and somehow got it into some strange buggy state where I have watchers that are updating but the feed remains blank.

I get emails showing me the full change (see below)
https://www.evernote.com/shard/s150/sh/e0fbf50f-4275-446c-9992-6f746e101120/c7ae03b13bd960e1/res/cb4081ca-1169-4186-bdda-80bc627383e4/skitch.png?resizeSmall&width=832

but the feed is still blank in the

[2017-03-20 22:11] dmil commented on #107
Deleting the bad SQS integration fixes this.

This is from the Heroku Logs
[code]

[2017-03-21 00:09] tommeagher commented on #107
Thanks for reporting this Dhrumil. It's a new one on us. After you deleted the SQS integration, did the alerts start appearing in your feed?

[2017-03-21 01:50] dmil commented on #107
yes, deleting the SQS integration fixed the issue

[2017-03-21 01:57] tommeagher commented on #107
Fascinating. We'll dig into it. Thanks for flagging this!

[2017-04-07 19:08] andymboyle opened #109 "An option to make the default color scheme less blinding"
Hey folks,

The default color scheme is blindingly bright, and not only makes me feel sick looking at it, but I know it makes others feel the same, too. I am sure that this is perhaps a unique opinion, and not exactly on the highest of priorities for you fine people right now, but the default Klaxon settings are so bright and hard to see.

Yeah we can go in and change them and all that jazz, but t

[2017-04-20 15:54] tommeagher commented on #53
Jeremy, thanks for flagging this issue. It's come up again on us recently, so I think we'll want to tackle this question sooner rather than later.

[2017-04-20 15:59] tommeagher commented on #109
Hi Andy! Thanks for submitting this. We're glad to hear you're putting Klaxon to use. This is an interesting issue you raise. If you all want to tackle some customization options for the color scheme and documentation, we'd be glad to take a look at a pull request and merge it into the code base.

[2017-04-26 20:34] GabeIsman opened #111 "Invitations expire too quickly"
Invitation tokens are really just LoginTokens and expire in the same amount of time. They should last longer, and there should be a friendlier flow for handling expired tokens.

I propose adding a page for expired tokens which has language explaining the expiration and a button to re-login with the associated email pre-filled. There is potential for information leaking here, but it seems very like

[2017-05-09 20:58] bobweston opened #112 "Unable to watch public facebook pages"
The Governor of Missouri tends to use his public facebook page to make announcements.

https://www.facebook.com/EricGreitens/

We've tried watching the page. But Klaxon doesn't respond at all when trying to add a watch item on that page.

I'm unsure if this is in any way related to #83

But noting it here just in case.

[2017-05-11 17:28] tommeagher opened #113 "Delete users"
We need to think about the best way to remove users who should no longer have access to the Klaxon instance.

[2017-05-11 17:50] zstumgoren commented on #106
+1 to providing delete functionality in web interface for admin users.

@tommeagher In the interim, is dropping to rails console and manually deleting user the recommended strategy for removing user records?

[2017-05-11 17:53] tommeagher commented on #113
I thought we had already logged this is as an issue. This is a duplicate of #106.

[2017-05-11 17:53] #113 closed

[2017-05-11 18:43] GabeIsman commented on #106
@zstumgoren Unfortunately that is currently the best way. You'll also want to delete any subscriptions that belong to the user.

[2017-05-11 18:57] zstumgoren commented on #106
@GabeIsman Ok, makes sense. Appreciate the guidance. Would you all be interested in a PR for a rake task for this kind of thing? Perhaps with some basic documentation aimed at admins?

[2017-05-11 19:00] GabeIsman commented on #106
@zstumgoren PRs are always appreciated. I think ideally we'd implement this functionality through the UI, but a rake task sounds like a reasonable stopgap! Documentation always and forever appreciated.

[2017-05-11 19:17] tommeagher commented on #106
We ♥️ PRs & docs, @zstumgoren!

[2017-05-11 19:21] zstumgoren commented on #106
+1 UI integration as ideal solution. I'll consult with my cohort @bobweston and see if we can push something back to you all, at least on the docs and rake front if not a first pass at the UI functionality. Any preferences on PR workflow?

[2017-05-11 19:25] GabeIsman commented on #106
@zstumgoren PRs from your fork against our develop branch would be ideal!

[2017-05-11 19:30] GabeIsman commented on #112
Yea it looks like it's the same Content Security Policy issue. The workaround for now is to add the page manually from Klaxon.

This is a duplicate of #84. Thanks for reporting @bobweston!

[2017-05-11 19:30] #112 closed

[2017-05-11 21:25] myersjustinc opened #114 "Email address check is case-sensitive on login but not on user creation"
When I attempt to log in to our internal Klaxon instance, I have to type my email address with the exact capitalization that's shown in `/users`. When I attempt to log in with the same email address but with different capitalization, I get an "Email Not Found" error.

The `User` model [does a case-insensitive check for uniqueness](https://github.com/themarshallproject/klaxon/blob/0a645bd79b84d1a87

[2017-05-11 21:46] GabeIsman commented on #114
@myersjustinc Ah nice catch. I agree with your assessment. Should just be case-insensitive everywhere. Please do take a stab at updating! Thanks.

[2017-05-11 22:13] GabeIsman commented on #114
👍  Thanks!

[2017-05-11 22:13] #114 closed

[2017-05-15 16:53] samanthasunne opened #117 "couldn't deploy to Heroku"
Followed the installation directions and got this error message on Heroku:

![screen shot 2017-05-09 at 6 55 13 pm](https://cloud.githubusercontent.com/assets/1383000/26068906/c87dfede-3964-11e7-84a0-9217ca958293.png)

Tried again, and got this error log:

[-.txt](https://github.com/themarshallproject/klaxon/files/1001766/-.txt)

I didn't mess with any of the fields except admin-email, so I'm not

[2017-05-15 18:11] GabeIsman commented on #117
@samanthasunne Thanks for reporting! I'll look into it. Looks like we might need to update the ruby version we're using.

[2017-05-15 19:18] ivarvong commented on #117
For what it's worth, I got a transient error deploying an unrelated app to Heroku around the same time. (No idea if related.)

[2017-05-15 21:36] #117 closed

[2017-05-15 21:42] GabeIsman commented on #117
@samanthasunne Confirmed that upgrading the Ruby version fixed the problem. Give it another shot, and let us know if you have any more trouble!

@ivarvong Good to know. I was able to reproduce this twice at different times, so it seems to have been a real failure.

[2017-05-16 18:13] samanthasunne commented on #117
That fixed it. Thanks for the quick response!

[2017-05-18 16:30] bobweston opened #119 "ruby version requirement on 0.2.4"
Hey Folks,

I see the ruby version has been bumped to ruby-2.3.4. I'm wondering if is a requirement for Klaxon or if you folks were simply bumping things to a later version.

I'm just trying to get a sense of whether we need to add this new version of ruby or can continue using the older version.

I appreciate the guidance.

[2017-05-18 16:43] GabeIsman commented on #119
@bobweston You can absolutely continue with the older version. We just bumped it up to keep pace with Heroku support. The code in no way depends on 2.3.4 (although deployment to Heroku now does).

[2017-05-18 16:43] #119 closed

[2017-05-19 18:12] webster opened #120 "Unable to deploy to Heroku"
Deploying to Heroku results in an error: "Item could not be created: Unknown Error. Please contact support." - No further information was provided; no debug/error log generated. All required fields were filled.

<img width="279" alt="screen shot 2017-05-19 at 1 07 43 pm" src="https://cloud.githubusercontent.com/assets/166752/26260883/aeaa9016-3c94-11e7-9014-1caf167c38da.png">

Using Chrome 58 on m

[2017-05-19 18:44] GabeIsman commented on #120
Hey @webster, just did some digging into this and it seems like this is an issue with the Heroku deploy button UI. For me, I saw the exact same error, but when I navigated to the Heroku dashboard where it lists my apps, the test instance was happily spinning up (and completing successfully). I have no idea why that error is appearing, but it doesn't seem to actually be affecting deployment. Let me

[2017-05-23 19:23] GabeIsman commented on #120
Just tested this again, and did not encounter the problem. Transient bug on Heroku's end, IMO.

[2017-05-23 19:23] #120 closed

[2017-05-26 20:40] bobweston commented on #106
Hey Folks, I'll submit a pull request with this feature next week. I need to clean up a couple of front-end things. But the functionality is working.

[2017-05-30 18:15] tommeagher commented on #106
@bobweston awesome. We'll be eager to see it.

[2017-05-30 22:02] bobweston commented on #106
PR #121 has been submitted

[2017-06-01 18:16] GabeIsman commented on #106
This is fixed by #121. Thanks a ton @bobweston and @zstumgoren!

[2017-06-01 18:16] #106 closed

[2017-06-01 18:58] tommeagher commented on #106
🎉  Bravo! Thank you, @bobweston & @zstumgoren!

[2017-06-05 16:40] zzolo opened #122 "Enhance snapshots?"
I am wondering if the following is a good idea and might be worth making a pull request for:

In addition to snapshotting content, it would be nice to have an image snapshot of the page and/or a version of the markup of the page since there can be details in the markup that are important.

If this seems like a decent idea, I can try to work on it.

[2017-06-05 17:23] zzolo commented on #122
I think I missed the whole snapshot thing in the documentation.  I'll look into that more and see if it does what I expect.  Thanks!

[2017-06-05 18:14] zzolo commented on #109
I support this idea.  Though I do enjoy the red, it's not actually great to look at in the long run.

See the WCAG contrast analysis, which mostly fails:
http://webaim.org/resources/contrastchecker/?fcolor=ff0b3a&bcolor=ffffff

Looking into making the color a variable that can be swapped out, looks hard as its in a lot of places:
https://github.com/themarshallproject/klaxon/search?utf8=%E2%9C%93&q

[2017-06-05 18:19] zzolo commented on #122
Updated original comment.

[2017-06-05 18:52] tommeagher commented on #122
Hey Alan @zzolo! Correct me if I'm wrong, @GabeIsman & @ivarvong, but right now every time the page you're watching changes, Klaxon captures the HTML of the whole page. Klaxon then only sends an alert (Slack/email) if the hash of the text in the chosen CSS selector has changed. All of which is to say that it's already capturing the markup of the whole page, it's just not shown to users.

If you th

[2017-06-05 20:45] zzolo commented on #122
Oh, that's is cool.  Yeah, I would think it might be interesting to see the markup or markup diff, for instance, there's a page I am looking at that changes its icon image, but there isn't text change.

I do think an image snapshot would be good as an archive and a way to see a more visual version of what the page looked like.

[2017-06-05 21:00] ivarvong commented on #122
Hi @zzolo! The `PageSnapshot` model holds the full HTML of the page at time of snapshot. Exposing the markup or markup diff would be straightforward.

To your example use-case, though: a page snapshot is *not* created if the hash of the polled page hasn't changed. Said another way, a snapshot for a page is not created every 10 minutes, rather only if the page has changed, based on the hash of the

[2017-06-05 21:10] zzolo commented on #122
Yeah, I don't think there's a reason to store a snapshot if Klaxon doesn't think a change has occurred, I am mostly just looking for some further archive information being available (i.e. the markup and a screenshot).  I think it could be possible (maybe not ideal) to store a screenshot in Postgres.

[2017-06-06 17:22] bobweston commented on #82
This might be better in  separate feature enhancement. But I'm wondering if we might want to have a way for users to view (say in the edit user view) all subscriptions for a particular user.

Any interest in such an enhancement? (I can open a separate ticket for it, if so).

[2017-06-06 17:32] GabeIsman commented on #82
@bobweston Seems like a great idea to me. Definitely separate from this, thanks for opening another ticket!

[2017-06-06 17:34] bobweston opened #123 "View user subscriptions"
We should be able to view subscriptions by user (possibly in the edit user view).

I'll take the first crack at this.

[2017-06-08 17:57] heymatthenry opened #125 "Slight CSS bug in some buttons on hover."
Hovering on some buttons causes the UI to jump a little bit as a `border-bottom` that's meant for links is also applied to links being used as buttons, pushing everything below them down 2px. See e.g. the "Add to Klaxon" button in the bookmarklet jumbotron.

[2017-06-08 18:16] #125 closed

[2017-06-08 18:33] GabeIsman commented on #123
Fixed by #124. Thanks @bobweston!

[2017-06-08 18:33] #123 closed

[2017-06-08 18:52] bobweston opened #127 "Transfer subscriptions when deleting a user"
It might be useful to allow admins to transfer subscriptions to another user on deleting a user account

This might avoid gaps in coverage when a beat reporter leaves an organization and is replaced by another journalist.

[2017-06-08 18:59] GabeIsman opened #128 "Edit user's subscriptions from /user/edit"
It would be useful to be able to unsubscribe from pages en masse on /users/edit.

[2017-06-08 19:02] bobweston commented on #128
I'll take a crack at this

[2017-06-09 02:01] tommeagher commented on #77
Gabe, Postmark is out of the Heroku game, and the SendGrid emails have been fairly speedy of late. In that light, is this still something we want to move away from? Are there other decent options apart from Postmark?

[2017-06-09 19:59] bobweston opened #130 "Sort/filter users?"
Would you all be interested in a PR for a sort/filter bar at the top of the users page along with applying a default alpha sort at the controller or model layer?

[2017-06-09 20:11] bobweston commented on #128
Hey @GabeIsman,

What do you think about adding checkboxes next to the user's list of subscriptions, along with an uncheck all option/button? We could then uncheck a single box (or all) to trigger an unsubscribe action.

[2017-06-12 16:27] GabeIsman commented on #130
That's definitely a good idea! I think it's never been a priority for us, since we've only got a dozen or so users :). But definitely worth doing.

[2017-06-12 16:29] GabeIsman commented on #128
@bobweston That's pretty much exactly what I had in mind. The only potential snag I see with this is that because there is no notion "inactive subscription" currently, when you uncheck the box, the item will disappear (immediately or on page load). That might be unintuitive. But I'm not sure if it will actually be a problem I suspect we shouldn't worry about it for now.

[2017-06-12 16:32] GabeIsman commented on #77
Mailgun has a free heroku offering as well. No idea what the quality is. I say we table this for now.

[2017-06-12 16:32] #77 closed

[2017-06-12 16:32] GabeIsman commented on #127
This is a good idea!

[2017-06-12 22:05] GabeIsman commented on #111
#129 Dramatically improves the problem here (in that it prompts the user to re-login), but I think the experience is still confusing for first-time users. In particular these two issues seem most pressing:

1. Invitations, like login links, still expire in one hour. This is far too short. I propose seven days.
2. I think to the average user, the equivalence of logging in and receiving an invitatio

[2017-06-12 22:06] GabeIsman commented on #111
@bobweston This is hopefully a bit clearer version of what I was saying in #129.

[2017-06-13 16:34] zzolo commented on #46
I think this is a good idea.  A simple API that one could throw content at would be super helpful to handle scraping and content that is a more complicated, while still getting the interface and alerts.

[2017-06-13 19:43] tommeagher commented on #46
@zzolo I'm really into this idea. I'm not sure what it would look like yet, but I'd love to see someone willing to tackle this.

[2017-06-13 19:52] ivarvong commented on #46
Is the idea that instead of downloading a page's HTML from Klaxon, you'd instead download with some other script, managed independently, then push the results to Klaxon to figure out if something has changed?

[2017-06-13 19:56] zzolo commented on #46
Yep

[2017-06-13 20:30] zzolo commented on #46
@ivarvong I've gotten token based auth for the API going, but I am having trouble at how to call a compare task/method if someone send along an id and content.  If you could just point me what I need to call, that would help.

[2017-06-13 20:36] tommeagher commented on #46
I was thinking more that Klaxon could be split into two pieces:
1. The alerts (via email, slack, etc) and the Feed
2. The scraping and diffing of simple pages based on css selector

I figured the first part could be an API to receive from custom scrapers, in addition to the stock Klaxon scrapers, any update and send it through to the feed and the alerts system. But if I understand what you're doin

[2017-06-13 20:40] zzolo commented on #46
Yeah, so the idea would be that the Page would be setup in Klaxon, and then via the API, content would be sent to it.  Klaxon would then determine if there is a change, and then notify whoever based on the Page settings.

I think I found the method I should run for the main API call.
https://github.com/themarshallproject/klaxon/blob/f19c42f9efb93397ca5800e539509bd16f96ffbf/app/models/poll_page.rb#

[2017-06-13 21:06] GabeIsman commented on #46
@zzolo Yep, that's the right logic. I think there is probably some refactoring in order. Notably we need to have the "download the page, extract the selected text" logic separate from the "compare this version of extracted content with previous versions, save snapshot and notify if necessary".

Once that refactoring is done, I think adding a `custom_scraper` flag to the Pages table makes good sens

[2017-06-13 21:40] zzolo commented on #46
Created a pull request.  Again, my expertise in Ruby or Rails is near none, so it might not be the best way to do this.

[2017-06-14 13:47] zzolo opened #133 "Regular user can edit other users"
If I am a regular/non-admin user, then I can edit the names and emails of other users.  Is this intended?

[2017-06-14 16:42] tommeagher commented on #133
@zzolo that was intentional with the original design, yes. There were no admin users, and the idea was that any user could subscribe someone else in their newsroom to an alert. We were particularly thinking of reporters signing their editors up to watch a specific page and vice versa. Now, with admin users added in v 0.2.5, we may want to rethink that a bit.

[2017-06-16 19:58] tommeagher opened #134 "Can't close the bookmarklet sidebar if not logged in."
There's no X to close or remove the sidebar window if you're not logged into Klaxon. Had a user struggle to figure it out, looking for the X to close.

![screen shot 2017-06-16 at 3 57 11 pm](https://user-images.githubusercontent.com/713778/27242746-902d2102-52ac-11e7-8ede-fd10dfc076c2.png)

[2017-07-10 18:57] zzolo opened #135 "Bookmarklet not working in Chrome"
Hi all.  I just updated to newest code in master/develop, though this was happening with a version that was about a month old as well.  I see this in Incognito mode as well.

The bookmarklet does not work in Chrome.  Specifically it acts like I am not logged in, even though if I go to our Klaxon site, I am.  It gives a 422 when trying to login via the embed.

I don't see any error messages that ex

[2017-07-10 19:41] tommeagher commented on #135
Hey Alan, thanks for flagging this. I'm not seeing an issue in my Chrome. Can you tell us what version you're using?

[2017-07-10 19:46] zzolo commented on #135
Well, that stinks for me.  :)

I am on version 59.0.3071.115 of Chrome.  I guess I'll dig a little further.

[2017-07-10 19:48] tommeagher commented on #135
Strangely, that's the same version I'm running, so there may be something else happening here.

[2017-07-11 16:47] zzolo commented on #135
Yeah, just tried on a windows computer in the office and it worked fine.  Something off with my Chrome, I guess.  Will just use Firefox.

[2017-08-21 20:17] bobweston commented on #135
Not sure if this is worth reopening. But we have several folks (me included) seeing the same behavior with Chrome ( 60.0.3112.101). Things work fine with Firefox.

@tommeagher

[2017-08-21 20:34] bobweston commented on #135
@tommeagher

Just an FYI. Apparently, at some point recently, Chrome started shipping with 3rd party cooks disabled by default. When I toggled the settings>advanced>cookies>block third party cookies to off, things started working again.

It's worth mentioning that I had tried resetting all my settings to default prior to making this change and the problem remained. But changing this manually seeme

[2017-08-22 16:14] matsaman commented on #109
Is this tied to the https://newsklaxon.org/ homepage color scheme? Honestly, & truly not for nothing, when I first loaded that page, I said to myself /out loud/ "ugh... give me a fscking break...".

[2017-08-22 16:21] andymboyle commented on #109
@matsaman Yup. The default color scheme is incredibly hard to look at.

[2017-08-22 17:05] tommeagher commented on #109
@matsaman, @andymboyle. Totally understand if the colors don't work for you or your organization. If you want to take a crack at adding options to customize it, we'd be happy to review a pull request that would benefit other Klaxon users.

[2017-08-22 17:10] tommeagher commented on #135
We can certainly reopen this issue, @bobweston. Do you or @zzolo have any thoughts on the best way to resolve this?

[2017-08-22 17:14] GabeIsman commented on #135
@bobweston I'm not seeing that default. Tried looking for an announcement of that change and couldn't turn anything up that way either. Just to be clear, you're saying that on a fresh install of Chrome 60.0.3112.101, third-party cookies are disabled? That will certainly cause some problems for us.

[2017-08-22 17:18] GabeIsman commented on #135
Just noting that I also tried resetting to default settings on Chrome 60.0.3112.101, and 3rd-party cookies appeared to still be enabled.

[2017-08-22 22:38] matsaman commented on #109
@tommeagher I haven't quite cracked open your software before, but in the case of newsklaxon.org and anything with which that page shares code, you could literally just do a global find & replace of `#ff0b3a` with virtually anything else and improve the situation for every last person that exists in the universe. Even simply a darker shade would be better.

[2017-08-23 13:52] zzolo commented on #109
The question is whether the color should be straight changed or if this should become an configuration option.  The former is just a find and replace.  The latter is much harder, since the color is used in many different types of places.

Given the difficulty of adding a configuration option for this, I would 👍  to updating the default.

[2017-08-23 13:53] zzolo commented on #135
If this is a Chrome setting issue, there's not much that can be done except notifying the user.  Maybe the bookmarklet can do a check to see if that option is correct, and if not, showing instructions on how to change it?

[2017-08-24 16:05] ivarvong commented on #109
@tommeagher @GabeIsman This might be a good fit for [CSS Custom Properties](https://developer.mozilla.org/en-US/docs/Web/CSS/--*) – the lowest lift might be an ENV var that injects the custom property into a `<style>` tag on the page.

The platform CSS would then pull from custom property first with a fallback to the current color.

[Browser support](https://caniuse.com/css-variables/embed) is pre

[2017-11-10 15:28] alanhovorka opened #138 "Ad and script blockers break the bookmarklet - solution provided"
I encountered a similar issue as reported in #135

The issue I encountered when setting up Klaxon for my paper was that blockers can break the service. The issue specifically came from EFF's "Privacy Badger."

The solution:
Whitelist your org's Klaxon.
I clicked the Privacy Badger icon in my Chrome bar and clicked the gear. This takes you to Privacy Badger options, which contains a whitelist tab.

[2017-11-10 20:01] tommeagher commented on #138
Thanks, Alan! We should find a way to include this in our documentation, probably on our [help page](https://github.com/themarshallproject/klaxon/blob/master/data/help.md).

[2017-11-12 14:42] alanhovorka commented on #138
I'll do it.

[2017-11-13 20:05] tommeagher commented on #135
Revisiting this issue after @alanhovorka's PR #139.
@zzolo and @bobweston, are you or your colleagues using Privacy Badger or some kind of ad blocker that might be interfering?

[2018-01-05 15:31] GabeIsman opened #140 "Run JavaScript before taking snapshot"
This would allow watching of client-rendered pages. Would require outsourcing scraping to PhantomJS or similar, which would add to complexity. Definitely seems worth it though.

[2018-02-06 20:00] justinallen opened #141 ""Deploy to Heroku" one-click halts at environment configuration"
Trying to follow the instructions on Github, the one-click install initializes, makes it through "create app" and then halts at environment configuration.

First:

![screen shot 2018-02-06 at 11 57 24 am](https://user-images.githubusercontent.com/1314318/35881314-484e25ec-0b35-11e8-8493-ee0c19599e74.png)

Then:

![05_error](https://user-images.githubusercontent.com/1314318/35881383-7b69dbe2-0b35-1

[2018-02-06 23:13] justinallen commented on #141
**Update:**

Tried again after a few hours and the error magically went away, sailed through the build without a problem.

![06_ok](https://user-images.githubusercontent.com/1314318/35889368-1ef29d3e-0b50-11e8-994a-f2ebc3e3deb6.png)

Not sure what was going on, maybe some downtime on Heroku's end.

[2018-02-06 23:15] tommeagher commented on #141
Thanks for flagging @justinallen. Glad to hear it resolved itself. Let us know how it goes as you get rolling with Klaxon.

[2018-02-06 23:15] #141 closed

[2018-02-09 22:46] tommeagher opened #142 "Delete a bad snapshot"
One user asked if it was possible to delete individual snapshots that aren't what you want to follow without deleting the entire alert. That might be a nice addition.

[2018-02-12 23:56] myersjustinc commented on #85
Just heard today about [SelectorGadget](http://selectorgadget.com/), which might come in handy for anyone attempting to implement this.

[2018-02-13 16:13] GabeIsman commented on #85
Oh nice find @myersjustinc. That looks very useful (at least the core logic) as a way of improving css selector discovery.

[2018-02-13 19:36] bbhoss commented on #120
Seeing this again:
![image](https://user-images.githubusercontent.com/7044/36169811-535c5a08-10cb-11e8-9b49-38ff1f86f777.png)

[2018-02-13 20:40] GabeIsman commented on #120
Hmm, that's not a super useful error message @bbhoss. When I tried it just now I did get a different error message though! I'm working on fixing that one, and maybe it will be related.

[2018-02-13 20:49] bbhoss commented on #120
Thanks, wish I had more. I tried clearing out my account, updating credit card, etc, and nothing seemed to help.

[2018-02-13 20:52] bbhoss commented on #120
Walked away and came back, and it started working better. Now I'm getting another exception, likely the one you're speaking of. Maybe this is just a transient heroku issue, though this is the first time I've experienced this. Sharing the new error in case it's helpful

[code]

[2018-02-13 20:55] GabeIsman commented on #120
Yep! That's the one. Merging into master now.

[2018-02-13 21:00] GabeIsman commented on #120
Should be good to go now @bbhoss

[2018-02-13 21:01] bbhoss commented on #120
Working now, thanks again

[2018-03-11 17:16] brentajones opened #145 "Instructions for deployment to EC2"
Would love to have some instructions for deploying to EC2.

[2018-03-13 23:47] tommeagher commented on #145
Great idea. I’ll ask our Twitter followers if anyone wants to take a swing at this.

[2018-04-04 13:51] tommeagher opened #147 "Display version numbers in help section"
This'll make it easier for users to know what version of Klaxon they're running and whether they need to upgrade to a newer release.

[2018-04-19 18:29] alanhovorka opened #148 "Klaxon unable to track websites with a login prompt/auth"
I have a weird one here.

I'm trying to use Klaxon to track agenda postings for a university.

I have setup Klaxon to track this page and it's not returning changes. The page is changing daily, but Klaxon isn't telling me that. It appears the problem may be the login prompt when the page loads.

https://committees.uwsp.edu/facsen/agendas/SitePages/Home.aspx

![image](https://user-images.githubuser

[2018-04-19 21:12] tommeagher commented on #148
Alan, that Asp.NET login is what's throwing it off. Klaxon, unfortunately, isn't designed to deal with more complex scrapes like those this would require. Klaxon is really best suited for very basic sites where the HTML is visible without any user action. For this, you'd have to create a custom program to scrape it.

[2018-04-19 21:12] #148 closed

[2018-04-20 14:13] GabeIsman commented on #148
This seems like it would be a good use case for a custom scraper. A feature we intend to support eventually: https://github.com/themarshallproject/klaxon/issues/46.

[2018-04-27 20:52] fdaudens opened #149 "Error 500"
Hi,
Maybe you can help me. Suddenly, we have an error 500 with Klaxon, and I'm not sure where to fix the problem. The log returns this message:

[code]

Has anyone had the same problem?

Thanks,

Florent

[2018-04-30 15:42] tommeagher commented on #149
@fdaudens thanks for flagging this. We haven't seen it. We'll see if @GabeIsman has any advice on debugging this. Do you happen to know which version of Klaxon you're running?

[2018-04-30 22:54] fdaudens commented on #149
@tommeagher Thanks for your answer. Not sure of the version, but I've installed it on March 2017 and didn't updated it since.

[2018-05-07 14:36] GabeIsman commented on #149
Hey @fdaudens, sorry you're running into this issue. I don't think I've seen this before, but it's a little hard to tell because it looks like the logs you've pasted don't include the full error message. Can you send a little more context from the logs?

[2018-05-08 01:48] fdaudens commented on #149
Hey @GabeIsman, sorry, didn't realize it was not complete. Unfortunately, Heroku only allows to retrieve logs for one week, and I've installed the latest Klaxon version since. The database was rebooted, but everything works fine. Will copy the logs if it happens again.

[2018-05-08 13:47] tommeagher commented on #149
@fdaudens we'll close the issue for now, but if it happens again, please re-open it and share the full logs so we can try to get to the bottom of it.

Thanks!

[2018-05-08 13:47] #149 closed

[2018-08-09 21:43] chill-fpraz opened #152 "Add bookmarklet instructions to README.md - or add link to help.md"
The bookmarklet functionality of Klaxon is an important concept that is missing in the README.md instructions for deployment. It might help new users if the instructions contained in help.md were included or linked from README.md. My apologies if this has already been addressed in a previous issue. Thank you!

[2018-08-14 18:34] tommeagher commented on #152
Hi @chill-fpraz, thanks for this. There is a link to help.md in this sentence high up: "[If you need help using Klaxon once it's already been set up, [you can find it here.](https://github.com/themarshallproject/klaxon/blob/master/data/help.md)]". But we got similar feedback from another user recently, so we agree this could be improved. Do you have any suggestions on where to put this or how to p

[2018-08-15 18:39] GabeIsman opened #154 "SSL errors are silently ignored"
When OpenSSL rejects a website's certificate, the page fetch fails and no snapshots are taken until the situation is resolved. Possible solutions:

1) Surface these errors somehow, maybe via the subscription channels. The downside to this is that there isn't really a solution. Sometimes you will want to monitor a page with an invalid SSL certificate, and you simply can't, as it currently stands.
2

[2018-08-15 20:18] tommeagher commented on #152
Closed by #153

[2018-08-15 20:18] #152 closed

[2018-08-16 16:49] alaskapublic opened #155 "Empty selector field does nothing"
Can you change an empty selector field to imply that Klaxon should watch the HTML document body?

[2018-08-19 16:10] greysteil opened #156 "Suggestion: Use Dependabot to keep dependencies up-to-date"
Would you be up for automatically creating Dependency update PRs? I built [Dependabot](https://dependabot.com) to do that and it's free for open source.

I think it would save you a bit of time and help keep klaxon up-to-date, but I also have an ulterior motive for asking: I'm keen to get more open source apps using it so I can use the data on the CI runs for dependency updates to find bugs in new

[2018-08-27 19:50] tommeagher commented on #156
@greysteil thanks for the suggestion. We weren't familiar with Dependabot before. We're interested in giving it a try.

[2018-08-27 19:52] greysteil commented on #156
Awesome! I'll try and help out with some of the initial PRs. 🙂

[2018-08-27 19:59] #156 closed

[2018-09-06 04:03] anthonydb commented on #145
@brentajones Wondering whether you ever got help with this question?

[2018-09-06 13:49] tommeagher commented on #145
@anthonydb I don’t think we ever got any takers on this. If you and Brent would be willing to give this a shot, we’d love to include the instructions in the repo here.

[2018-09-06 15:08] brentajones commented on #145
@anthonydb No, I hadn't heard anything about it. It's been fairly low on my list as I'm not very fluent in either Rails or Docker and I'm not sure how much of those I'll need to pick up in order to make progress.

I will likely have more time to work on larger projects / newsroom tools soon, and I'm still very interested in implementing this for the newsroom, so it's still possible I'll grapple wi

[2018-09-07 01:39] anthonydb commented on #145
@tommeagher @brentajones If I get a chance to set this up in a few weeks on EC2 I will definitely share what I learn. Thanks!

[2018-09-17 19:11] bzigterman opened #202 "Error when deploying to Heroku"
I’m trying to set up Klaxon for our newsroom, and I ran into this error when I hit the “Deploy App” button on Heroku’s website and it was in the “Build App” section:

[code]

Any idea why this is happening? I’m not a developer, so I don’t really know what to do next. Sorry if this is the wrong place to post this. And thanks!

[2018-09-17 19:44] tommeagher commented on #202
Hi @bzigterman, it looks like the brand-new Heroku stacks don't support Ruby 2.3: https://devcenter.heroku.com/changelog-items/1485
We'll have to upgrade Klaxon to address this. Thanks for flagging it.

[2018-09-26 16:09] GabeIsman commented on #202
@bzigterman This should be fixed now with the 0.3.0 release. Give it another shot!

[2018-09-26 16:09] #202 closed

[2018-09-26 17:21] bzigterman opened #206 "Not a valid Heroku application?"
Running into another error. Unfortunately, Heroku isn't letting me copy and paste from their website on my iPad, but I've attached a screenshot with the end of the build log. I'll try again on another computer later.

![bc2976ee-7cf8-44d7-9996-dcc0064efa9a](https://user-images.githubusercontent.com/3458463/46097077-81aa4c00-c186-11e8-820a-3421ddf40f9d.jpeg)

[2018-09-26 18:02] GabeIsman commented on #206
Sorry @bzigterman! Too hasty on the QA. Should be fixed now! I was just able to successfully deploy.

[2018-09-26 18:02] #206 closed

[2018-10-04 21:21] jwhazel opened #210 "Fails to install with docker"
_I've edited my original post to make this more concise_
There are currently at least 2 issues preventing Klaxon from working out of the box with Docker.

1.) This needs to be updated to 2.4.4 to match the gemfile: https://github.com/themarshallproject/klaxon/blob/f7c5c976b28ac6b0929fa6109193ddcd7a1cfc50/Dockerfile#L1
2.) This needs to be set to `production`, otherwise database.yml will use localh

[2018-10-09 15:56] tommeagher commented on #210
@jwhazel thank you for flagging this issue. We don't use Docker at The Marshall Project, so this isn't something I personally have experience with.

I'm hoping some of our users who do rely on Docker, like @rdmurphy or @AlJohri can help advise on what else we'll need to do with https://github.com/themarshallproject/klaxon/blob/develop/DOCKER.md and https://github.com/themarshallproject/klaxon/blob

[2018-10-09 16:34] rdmurphy commented on #210
Hey @jwhazel! I don't actually use the `docker-compose.yml` file myself, but I think standard practice is not that the in-project `docker-compose.yml` file is intended to be used for a production instance, but as a quick way to spin up a dev instance as we note at the top of the [`DOCKER.md`](https://github.com/themarshallproject/klaxon/blob/develop/DOCKER.md). (You may be correct it flat out isn'

[2018-10-09 18:56] jwhazel commented on #210
Thanks for the input. Hopefully you can understand my confusion here since all the components for docker were included in this project, I assumed that it was supported.

I will continue to poke at it and happy to make PR's along the way. I just want to get it running first before I make any.

[2018-10-09 19:17] AlJohri commented on #210
Hi! Sorry, I don't currently have this deployed anywhere but happy to help debug if needed. I have a slightly different take from @rdmurphy here.

The `docker-compose.override.yml` is almost always used for local development only. The barebones `docker-compose.yml` can be used for production- all the environment variables are empty in that file.

You can do something like this to run just the `doc

[2018-10-09 20:35] rdmurphy commented on #210
To the `docker-compose.override.yml` thing — I kinda fudged what I said, I did mean to refer to the `override.yml` file, I think we're on the same page, actually!

Per the [docker-compose docs](https://docs.docker.com/compose/extends/#example-use-case), another option is to create your own override that sets those environment variables for you and bypass the provided override entirely.

[code]

[2018-12-23 22:14] AnalogJ opened #230 "ROLLBACK in logs"
Hi,
I've attempted to get started with Klaxon via Docker and Heroku.
In both cases I've gotten everything working to the point of adding new sites to watch, but when running `bundle exec rake check:all` I get the following `ROLLBACK` messages:

[code]

Any advice would be appreciated.

[2019-01-03 23:22] GabeIsman commented on #230
Hey AnalogJ,

I'm not sure I've seen that behavior before, but my guess would be that it only happens in the case when the page you're watching hasn't changed yet. I like to use https://www.timeanddate.com/worldclock/usa/new-york as a test page. Give that a try and see if the problem persists. It's odd that there's no exception being thrown (what usually triggers a rollback), which either means th

[2019-01-16 16:24] tommeagher opened #234 "Updating an existing alert with the bookmarklet erases notification subscriptions"
I just confirmed this bug. It works like this:
I'm on a page that we're already watching in Klaxon. I click a new selector to monitor. Even if it's the same selector that we were already using, when I go to edit the page on Klaxon, it has erased all of my email and Slack notification settings.

[2019-01-24 18:11] tommeagher opened #235 "Update bookmarklet installation instructions"
Chrome no longer allows a user to drag and drop a bookmark. We also disabled right clicking on the bookmarklet to copy the javascript, so this needs to be addressed for new users to get started.

[2019-01-24 18:12] tommeagher opened #236 "Comparing snapshots generates an alert"
When I compare any two versions of a watched page, Klaxon is sending an alert via email and Slack as if the later version is a brand-new update.

[2019-01-28 19:31] benzipperer opened #237 "not receiving authentication email"
I'm unfortunately not receiving the authentication email after entering the admin email address in the Klaxon login page.

After deploying the app to Heroku following the readme instructions, I open the app, and enter my email address on the red "You'll know first" login page. I don't receive an email (after about an hour).

What should I look at to diagnose why this is failing?

[2019-01-28 19:57] tommeagher commented on #237
Hi Ben, did you include a list of email addresses for administrators when you created the app in Heroku?

https://github.com/themarshallproject/klaxon#lets-do-this
"Scroll down to the “* Admin_emails” field, add a comma-separated list of email addresses for your newsroom’s Klaxon administrators. These administrators will be able to create accounts for any user in your organization, as well as conf

[2019-01-28 20:06] benzipperer commented on #237
Hi Tom, thanks for your help. I think I did this correctly, or at least the ADMIN_EMAILS config var looks correct. It is a single email address (no commas).

Are there other config variables I should have set but possibly didn't?

I also tried deploying Klaxon again, encountering the same problem.

[2019-01-28 23:02] GabeIsman commented on #237
Hey Ben,

I just spooled up an instance and noticed that my SendGrid (our email provider) account was "suspended." Still investigating why that might be, but you can check if the same issue is affecting you by clicking on SendGrid in the "Resources" tab of the heroku app.

[2019-01-28 23:55] benzipperer commented on #237
Ah, thanks, I have the same problem. This is the first time I have used SendGrid.

[2019-01-29 00:04] GabeIsman commented on #237
Yea, I wonder if they've changed their policies about free accounts or something. I've contacted their support (who knows how long that will take). I'll update here with whatever I find out. Sorry for the inconvenience!

[2019-01-29 04:13] benzipperer commented on #237
The suspended SendGrid account turned out to be the problem. Once it was reinstated (after contacting customer support) the problem was resolved.

[2019-01-29 04:13] #237 closed

[2019-01-29 16:00] GabeIsman opened #238 "SendGrid now requires account verification"
SendGrid no longer works right out of the box. You have to contact their support to get your account activated. This adds an annoying step to the setup, so we should consider if there's another email vendor that works better for us.

See #237 for some more detail.

[2019-02-06 17:33] kevinschaul opened #239 "Proposal: Add an "excludes" field to page selectors"
Hi Klaxon team,

First of all, thanks for open sourcing such an incredible tool. I've been experimenting with Klaxon to track changes in 2020 candidates's websites, and it has been super simple to use. Stellar work.

I am running into an issue, though, possibly because of the way I'm trying to use Klaxon. Because I'm interested in almost all changes in a candidate's website, I've been using `body`

[2019-02-06 17:50] GabeIsman commented on #239
Hey Kevin,

Thanks for the kind words. This seems like a great idea to me, and I think you've identified a very clean implementation plan.

I think the one thing left to consider is where and how users will edit these excludes selectors. I think it would be too much/overcomplicated to add this feature to the bookmarklet. It should be a sort of "advanced" feature for power users. So I think you cou

[2019-02-11 18:28] bobweston opened #240 "feature request: track changes on an online pdf file"
We're seeing a growing number of sites posting information to online pdf files. We're wondering if there are plans to allow users to detect if a pdf file posted for online viewing has been updated.

[2019-02-11 19:53] tommeagher commented on #240
Hey @bobweston, it's great to hear from you. That was actually a feature of a previous incarnation of Klaxon, and one that we've long hoped to bring into the modern version of the project. I think it's tracked in #43. I'll close this one as a duplicate of that earlier ticket, but if you have thoughts on what you'd like to see or how it would be useful for your users, we'd love to hear it there.

I

[2019-02-11 19:53] #240 closed

[2019-02-27 20:26] #210 closed

[2019-02-28 15:41] #239 closed

[2019-05-06 14:20] golfecholima opened #268 "SendGrid account suspended by default"
At least two users have seen this happen out of the box after setting up Klaxon. Messaging SendGrip support seems to resolve the issue, but maybe a note to that effect could be added to the Klaxon instructions.

[2019-05-06 15:01] GabeIsman commented on #268
It's a good point @golfecholima. I've been meaning to find a more elegant solution, because this is a pain in the neck. I will add a note for now though!

Closing as a dupe of #238.

[2019-05-06 15:01] #268 closed

[2019-05-13 16:07] ilopata1 opened #269 "Google Groups"
When I try to access the Google Group referenced in the README, I receive a message that I do not have permission to access the content.  I can find no way to sign up to participate in the group.

(My real issue is that when I add some pages to watch there is no initial snapshot taken and I need guidance on how to diagnose and resolve.)

[2019-05-13 19:31] tommeagher commented on #269
Hi, @ilopata1, it looks like there was an issue with our Groups setting. Try to subscribe to the group now.

[2019-05-13 21:40] ilopata1 commented on #269
That worked.  Thanks

[2019-05-13 21:40] #269 closed

[2019-07-03 21:54] tomcardoso opened #276 "Suggestion: add Papertrail as a default add-on for Heroku deploys"
The first thing I do whenever I spin up any kind of Heroku instance is add the free-tier Papertrail add-on ("Choklad," I think it's called). Very helpful in debugging the app after the first deploy and making sure everything's working as intended.

Would be great to have that as a default for Klaxon.

[2019-08-31 20:37] immewnity commented on #122
A similar way of achieving this could be submitting the page to the Internet Archive's Wayback Machine if a change occurred (prepending "https://web.archive.org/save/" to a URL will do just that). Would be awesome to have this as a checkbox option on each tracked page!

[2019-09-27 22:16] immewnity commented on #43
The simplest way (in a basic "this file changed" sense) might be to get, store, and compare hashes of each file. MD5 should be more than sufficient in this case, though SHA3 would be the more robust option.

[2019-10-05 03:18] immewnity commented on #154
Not too skilled in Ruby, Rails, or even GitHub, but I think this'll do what's in option 2.

[2019-12-15 16:59] stungeye commented on #238
I set up a Klaxon instance today using the "Deploy to Heroku" button.

SendGrid seemed to work out-of-the-box without any work on my behalf.

Just thought I'd let you know. Very slick deploy process. I was impressed!

[2019-12-16 16:54] GabeIsman commented on #238
Thanks for the heads up @stungeye! Glad it's working. We do try to make it easy.

[2019-12-16 16:56] stungeye commented on #238
@GabeIsman I've gotta say it's the nicest install process for an open source project that I've ever come across!

[2020-03-20 14:16] bobweston opened #316 "question: which is current stable branch"
I'm trying to revise the original question. Basically, I'm trying to determine which branch is considered the current stable branch. (we would like to bring our install up to date. But I don't want to be on the bleeding edge)

[2020-03-21 23:09] tomcardoso opened #317 "Optional headless browser scrape"
In my newsroom (in Canada), we're currently scraping a few COVID-19 provincial pages. One of them uses Angular to render the page, so Klaxon as it is currently isn't going to work. This will require a headless browser.

We have 100+ pages being watched for all sorts of reasons right now, so I don't think it makes sense to just rip out the current `Net::HTTP`-based scraper and replace it with somet

[2020-03-22 02:44] tomcardoso commented on #317
@GabeIsman @tommeagher I've now built this out. Turned out to be pretty straightforward. It's working on our own instance, too. Happy to share the code or prep a PR of some sort if you'd like… let me know.

[2020-03-22 13:49] tommeagher commented on #317
@tomcardoso our motto at The Marshall Project is "PRs gladly accepted."
If you have this running, we'd be happy to take a look and if all is in order to merge it. This project really benefits from contributions from the community. If this approach is working for you, we'd love to see it. Sounds like it'd be helpful to a lot of others too.

[2020-03-22 19:28] tomcardoso commented on #317
@tommeagher Pull request is now available at https://github.com/themarshallproject/klaxon/pull/318.

[2020-03-23 18:15] tomcardoso opened #320 "Memory leak in feed view?"
I'm seeing the app restart every hour or so due to running out of memory. The memory usage chart looks like a classic memory leak:

![image](https://user-images.githubusercontent.com/2408118/77348566-0dffe580-6d10-11ea-9fc6-40f2b2d8872a.png)

I installed Scout APM to track down what might be causing it. It seems calling WatchingController#feed adds 16mb each time it's called. A breakdown suggests

[2020-03-23 20:01] GabeIsman commented on #320
Hey @tomcardoso,

Thanks for digging into Klaxon! I'm not sure what you're seeing is a memory leak here. It's hard to tell from the cropped screenshot why Heroku might have restarted the server, but they do typically restart free servers once a day as a matter of course, and the second restart looks like a deploy. Typically Heroku doesn't forcibly restart your dyno until you hit 200% maximum memor

[2020-03-23 20:23] tomcardoso commented on #320
I'll dig into it a bit and get back to you. My past experience with Rails apps (both ones I've built myself and external ones I've deployed) has taught me it tends to be pretty leaky, so if this actually happening here it wouldn't surprise me.

On the Changes controller, I did notice that it seems like all page snapshot objects are being assigned to a variable that never gets used. Since a new con

[2020-03-23 20:35] GabeIsman commented on #320
But the controller is also disposed of when a request ends, right? I'm not sure why that would constitute a memory leak, unless the framework itself is somehow flawed. You're right though that that data does not need to be loaded there.

[2020-03-24 19:22] bobweston commented on #316
I'm trying to revise the original question. Basically, I'm trying to determine which branch is considered the current stable branch. (we would like to bring our install up to date. But I don't want to be on the bleeding edge)

[2020-03-24 19:26] GabeIsman commented on #316
Hey @bobweston,

Sorry for the delay. We consider master to be stable. Nothing is released to master without first running on or own instances for a while. `develop` is also hopefully stable, but you're much more likely to run into trouble automatically deploying develop (which is what we do, so it's not crazy either).

[2020-03-24 19:42] bobweston commented on #316
Hi Gabe,

Thank you for that. Much appreciated.

[2020-03-25 14:11] bobweston opened #321 "Docker environment variables"
Hey all,

Can you tell me if there are Docker env variables I can sub in so we can use postfix and our own mail servers?

(we aren't currently using Sendgrid)

What I'm hoping to do is pass the env parameters that would allow me to build and deploy from your github repo (simply providing the required env parameters when I run the docker container)

[2020-03-25 15:22] GabeIsman commented on #321
@bobweston Did you figure this out?

[2020-03-25 15:32] bobweston commented on #321
Hey Gabe,

no. I'd be open to suggestions. ;)

[2020-04-01 13:53] bobweston commented on #321
Hey Gabe,

  I was able to figure this out. I'll add some information to the docker.md file and do a pull request later.

[2020-04-08 17:47] bobweston commented on #321
I've submitted a pull request with some instructions on getting things to work (pretty easily in my view) using docker

[2020-04-09 00:33] tommeagher commented on #321
Awesome. Thanks, @bobweston. We'll give it a look!

[2020-04-15 13:01] asvc opened #324 "Unable to add a source via the bookmarklet, invalid CSRF token"
I have deployed Klaxon to Heroku using the provided instruction (much appreciated!), but can't make the bookmarklet work.

After selecting part of the page and entering an e-mail, 422 error is returned with the following in the console log:
[code]

Relevant output from the app. log at Heroku:
[code]

Running on "heroku-18" stack. Can reproduce on the latest Firefox ESR and MS Edge.

[2020-04-15 13:13] asvc opened #325 "Unable to load the http/2 gem."
When scheduler executes `bundle exec rake check:all`, the following is returned to the log:
[code]
Running on "heroku-18" stack, Klaxon v0.3.3.

[2020-04-15 13:34] asvc commented on #324
Fixed with selective white-listing.

[2020-04-15 13:34] #324 closed

[2020-04-18 13:28] tommeagher opened #326 "Comparing past snapshots triggers an alert email"
I've found several times today when I compare the most current snapshot of a Klaxon to one from several days ago, Klaxon then immediately sends me an email alert of the diff, even if nothing new has actually changed on the page.

[2020-04-27 20:40] tommeagher opened #330 "Make raw html of snapshots available through the UI"
It would be great to have a button on the past snapshots page that lets you get the entire HTML of the page from that snapshot in addition to showing the diffs. Have found myself digging this out of postgres a few times in the past couple weeks.

[2020-05-02 17:55] Sanchovilla commented on #238
Hello!  I've clicked on the Sendgrid link to have my email confirmed but it says its a broken link and I'm getting an, "Access to Sendgrid Denied HTTP 403 Error."  Is there another way around this?  I've set-up a free account on Sendgrid but not sure how to make the connection between the two.

[2020-05-02 18:23] Sanchovilla opened #331 "Sendgrid link to have email confirmed is a broken link"
Hello!  I've clicked on the Sendgrid link to have my email confirmed but it says its a broken link and I'm getting an, "Access to Sendgrid Denied HTTP 403 Error."  Is there another way around this?  I've set-up a free account on Sendgrid but not sure how to make the connection between the two. I hope I'm not screwing up where I'm posting this question.

_Originally posted by @Sanchovilla in https:

[2020-05-02 18:50] GabeIsman commented on #331
Hey @Sanchovilla,

Sometimes it takes a while for the vendors to set up the associated accounts with Heroku plugins. Maybe give it an hour and try again? You mean the link from the "Resources" tab in Heroku, right?

Gabe

[2020-05-02 19:41] Sanchovilla commented on #331
Ahhh okay, that makes total sense.  I'll wait until tonight and give it a go.  Thanks so much for the response, I'm looking forward to using it!

[2020-05-03 14:02] danipolo opened #332 "Watch URLs programatically?"
I was wondering if it's possible to monitor new URLs programmatically or using an API. I would like to monitor the full life cycle of an article as soon is published on my competitor website. The publisher is posting many articles per day and I would like to add them as soon they are published. Any suggestion?

[2020-05-03 20:09] Sanchovilla commented on #331
Okay, I let it wait overnight and the link from the resources tab within Heroku was still dead.  I'm going to delete the 1st version of my Heroku account and re-deploy to try again.  I'll also give it a few days before I try to confirm address.  Could be the COVID situation has things running more slowly than usual?

[2020-05-08 15:45] walinchus opened #335 "Logging in- does that take a while?"
I set up the app and forked the repo and so forth. And Klaxon said it would send me an email to sign in. Does that process take a while? I tried a couple times and it said it would send an email but I checked Spam and everything but I still don't see anything. Thanks.

[2020-05-08 16:06] GabeIsman commented on #335
Hey @walinchus,

Did you see the note about contacting SendGrid in the setup instructions? Unfortunately we've been having some trouble with new accounts having their mail held by them. That could be what's happening. You should receive any login email inside of 2-3 minutes if it's going to arrive.

Hope that helps!

[2020-05-08 16:14] walinchus commented on #335
Hmm. I actually set up SendGrid a while ago. Let me try again. Thanks.

[2020-05-08 18:08] walinchus commented on #335
You are awesome! That was it, as I hadn't used it in a while, SendGrid had deactivated me or something. Thanks.

[2020-05-08 18:08] #335 closed

[2020-05-08 18:25] walinchus commented on #324
What does that mean? I am having this same error. @asvc

[2020-05-08 18:41] GabeIsman commented on #335
Great, glad that did the trick!

[2020-05-09 13:52] asvc commented on #324
@walinchus , try whitelisting its address (3rd-party cookies) in your web-browser. For example, Firefox:
![image](https://user-images.githubusercontent.com/300146/81475472-9815f600-924b-11ea-82d9-a7d7a743297c.png)

That being said, looking at [security-relevant](https://github.com/themarshallproject/klaxon/pulls?q=is%3Aopen+is%3Apr+label%3Asecurity) pull requests you might be careful as to where y

[2020-05-09 14:11] walinchus commented on #324
<img width="800" alt="image" src="https://user-images.githubusercontent.com/25959269/81475958-3fa80f80-91dd-11ea-9d9c-c3263653587b.png">
Hmm. I am still getting the same error. But thank you for helping! Any other possibilities I could try?

[2020-05-09 14:15] asvc commented on #324
@walinchus , I should have clarified. Please enter address of _your_ Klaxon installation.

[2020-05-11 15:28] walinchus commented on #324
@asvc Thanks so much for helping with this. I'm not sure why I can't quite get it! When you say your Klaxon installation, you mean https://github.com/eye-on-ohio/klaxon, right? I tried that but I still get the same error.

Oddly enough though I can still add an address manually, thought that only works for like, a whole domain and not a specific selector if that makes any sense.

[2020-05-11 15:34] GabeIsman commented on #324
@walinchus Your klaxon installation has a URL that will look something like `<the-name-you-chose>.herokuapp.com`. You might also try in another browser. The various browsers have different default policies around third-party cookies. I need to some investigation at some point to write some more comprehensive documentation. Sorry for the difficulty, these policies have been changing a bit over the

[2020-05-11 17:00] walinchus commented on #324
*Hmm good news and bad news. *

*The bad is that it didn't work in firefox. The good news is that it now
works perfectly in Google Chrome. So my guess is there's an additional
firefox setting that might hinder it. *

On Mon, May 11, 2020 at 11:34 AM Gabe Isman <notifications@github.com>
wrote:

[2020-05-16 21:27] tommeagher commented on #326
I spotted this in the code today:
https://github.com/themarshallproject/klaxon/blob/ec3e054ff9b0d8a45d94af66195f5980487c27b6/app/controllers/pages_controller.rb#L21.
Maybe this is a feature and not a bug and I just never knew it?

[2020-05-19 22:41] ryancatalani opened #339 "Emails can fail silently; consider logging errors?"
I noticed today that my installation of Klaxon wasn't sending email notifications. I checked on the web interface and determined that it was still correctly scraping the websites. So my next thought was to check the email provider (Sendgrid). I manually ran `rake check:all`, but didn't see any errors. I still had a feeling the issue was with Sendgrid, so I drilled down into the code and discovered

[2020-05-19 23:40] tommeagher commented on #325
I had this same issue come up recently, @GabeIsman, but things still seemed to work.

[2020-05-19 23:43] tommeagher commented on #276
I think this is a great idea. I'm a fan of Papertrail as well. And I think this might be as easy as adding it here: https://github.com/themarshallproject/klaxon/blob/develop/app.json#L30-L34

[2020-05-19 23:45] tommeagher commented on #326
And apparently I already logged this as an issue in #236. Will close that as a duplicate.

[2020-05-19 23:45] #236 closed

[2020-05-19 23:45] tommeagher commented on #316
@bobweston did this answer your question? Is it all right if we close this issue?

[2020-05-19 23:50] tommeagher commented on #332
Hi @danipolo, this is not currently a feature of Klaxon, though it's something we'd consider adding in the future. We'll tag this as a feature where we'd like some help in case a contributor wants to take this on.

[2020-05-19 23:55] tommeagher commented on #230
Hi @AnalogJ. I'm going back through and culling old issues that are no longer active. Did you get this problem sorted out? Can we close this issue?

[2020-05-19 23:59] tommeagher commented on #128
Pretty certain this was dealt with in #131. Will close this issue as a result, but let me know if we need to reopen it.

[2020-05-19 23:59] #128 closed

[2020-05-20 13:33] asvc commented on #235
Just FYI, works as expected on the latest stable FF & FF ESR. Klaxon domain needs to be whitelisted though.

[2020-05-21 00:48] eddietee2020 opened #340 "Email login and notifications stopped"
Over the weekend, I stopped receiving email alerts and now I don't receive the log in email.

I can log into Sendgrid and have sent them a note to say I'm not a spammer as suggested. It's been three days and I haven't heard back from them directly and the graph of email shows no activity.

Any suggestions about how I work out what the issue is?

Also, when I go into Sendgrid I don't have access to

[2020-05-21 01:31] tommeagher commented on #340
On Saturday, it looks like our Sendgrid stopped sending emails as well, though we have continued to get our Slack alerts and our Klaxon is making snapshots of the pages. I flagged it for @gabeisman to investigate. I wonder if this issue is related to #339.

[2020-05-21 01:32] tommeagher commented on #339
@ryancatalani thanks for raising this. When you said you updated the credentials, what did that process entail? Did you create a new password and add it as a `heroku config` envvar? Or was there something else you needed to do to get things working?

[2020-05-21 01:51] ryancatalani commented on #339
@tommeagher For some reason, I couldn't update the password — I'm wondering if this is because I provisioned the Sendgrid account through Heroku. Instead, I generated an API key and set it as the `SENDGRID_PASSWORD` config var. For that to work, you also need to set `SENDGRID_USERNAME` to `apikey`.

[2020-05-21 02:08] GabeIsman commented on #339
Hmm, yea I'm seeing the same issue on our instance. The fix you mentioned works as well. I wonder if Sendgrid changed it's authentication process and forgot to update the Heroku plugin? I'll look into it.

[2020-05-21 02:08] ryancatalani commented on #340
@tommeagher and @eddietee2020, I think this is probably the same issue as #339. I got an email from Sendgrid on May 15 that they reset my password (though I have multiple Sendgrid accounts and I'm not sure which account they reset). Nonetheless, shortly afterward, I noticed that I stopped getting emails from my Klaxon installation.

I was able to resolve this by generating an API key through Sendg

[2020-05-21 15:46] GabeIsman commented on #340
I wrote up some detailed instructions for how to use @ryancatalani's workaround [here](https://github.com/themarshallproject/klaxon/blob/develop/SENDGRID.md). Appears to be a fairly widespread issue unfortunately.

I think the Sendgrid access issue may result from it being an account through a Heroku plugin. The billing is all managed by Heroku.

[2020-05-21 15:46] #340 closed

[2020-05-21 15:47] GabeIsman commented on #339
Btw, very sensible suggestion @ryancatalani. I've implemented it here: 088f514255d97731f0a444aa54975d930c9c4ce2. Sorry to make your debugging harder!

[2020-05-21 15:47] #339 closed

[2020-05-21 15:49] GabeIsman commented on #331
@Sanchovilla Did you get this issue resolved?

[2020-05-21 15:51] GabeIsman commented on #325
This appears to just be log spam from the [AWS gem](https://github.com/aws/aws-sdk-ruby/issues/1998). Nothing to worry about. It should go away when we get around to upgrading that gem.

[2020-05-21 15:51] #325 closed

[2020-05-22 01:04] tommeagher commented on #122
#337 displays the page as captured (minus some assets and css), which partially addresses this issue. It does not show the full markup diff that @zzolo really needed in his original issue.

[2020-05-22 01:24] tommeagher commented on #147
Could deal with it like this, perhaps. https://stackoverflow.com/questions/14583282/heroku-display-hash-of-current-commit-in-browser

Could be a post-commit hook that sets the value of `git tag | tail -n 1` to an env var we could display on the help page.

[2020-05-22 01:25] tommeagher commented on #147
Could deal with it like this, perhaps. https://stackoverflow.com/questions/14583282/heroku-display-hash-of-current-commit-in-browser

Could be a post-commit hook that sets the value of `git tag | tail -n 1` to an env var we could display on the help page.

[2020-05-22 01:43] tommeagher commented on #147
On further thought, the post-commit hook doesn't make sense, but could put this as a shell task in the Rakefile.

[2020-05-22 01:46] tommeagher commented on #147
It seems this is what I'm looking for: https://github.com/themarshallproject/klaxon/blob/0bd045e1baab92413b41d7de6df02499a35e57bb/postdeploy.sh

[2020-05-22 01:49] tommeagher commented on #44
Feel like some of these alerts could be GET or POST requests to a given endpoint to permit #47, which I'll close as a duplicate of this.

[2020-05-22 01:49] tommeagher commented on #47
This seems to be a subset of #44.

[2020-05-22 01:49] #47 closed

[2020-05-22 02:02] ivarvong commented on #147
With Heroku, this is an option: https://devcenter.heroku.com/articles/dyno-metadata#usage

With Docker, the system (probably CI) generating the container artifact is perhaps the right place for this kind of thing

[2020-05-22 02:04] tommeagher commented on #147
Hi, @ivarvong! 👋

[2020-05-22 22:45] ryancatalani commented on #339
No problem, @GabeIsman. Thanks for the quick turnaround on this!

[2020-05-29 17:45] Sanchovilla commented on #331
Hi Gabe!  Thanks, for the follow-up!  I contacted Sendgrid and worked with one of their people that cleared my email address/account.  They were very helpful and it seems to be working. Gracias!  I'm just now starting to really use it and I'm floored by what a useful/awesome tool this is.

[2020-05-29 17:45] #331 closed

[2020-05-29 21:03] GabeIsman commented on #331
Great to hear!

[2020-05-29 21:04] #316 closed

[2020-06-01 22:01] immewnity opened #344 "Slack/Discord webhooks stopped working"
Hi all,

I realize this likely isn't a Klaxon issue in itself, but has anyone else had issues with their webhooks not showing any updates? Last push came on 28 May here, while viewing from the Klaxon interface shows several changes since then. No changes were made on my channels that the webhooks would share to, nor the Klaxon instance itself, and I can't find any technical issues on Discord/Slack

[2020-06-01 23:04] tommeagher commented on #344
@immewnity, is this just that your Slack stopped working? Are you getting Sendgrid emails? It's not related to [this issue](https://github.com/themarshallproject/klaxon/blob/develop/SENDGRID.md), is it?

[2020-06-01 23:26] immewnity commented on #344
I'm still getting the login emails when requested, so it doesn't appear to be related.

[2020-06-01 23:45] tommeagher commented on #344
That is odd. We haven't heard reports of this, and our Slack hooks are still working. Is there any hint in your heroku logs?

[2020-06-02 03:00] immewnity commented on #344
Ah, yep, there's the error... wish it were more descriptive. (censored sensitive data in the error message)

`2020-06-02T02:53:56.861559+00:00 app[scheduler.1819]: slack_integration#send_notification #etc

2020-06-02T02:53:56.951429+00:00 app[scheduler.1819]: Error sending webhook to url=https://discordapp.com/api/webhooks/87654321/DiScOrD-HoOk/slack for payload={"username":"Klaxon","icon_url":"ht

[2020-06-02 12:20] tommeagher commented on #344
I haven't really used Discord, so I can't be much help there. Let us know how this winds up.

[2020-06-03 01:03] tommeagher opened #345 "Reconcile page_controller with new pages_snapshots_controller."
A new task prompted by #337:

Yes, let's do this. I can take it on, just to make the structure more cohesive and easier to follow.

[2020-06-03 01:55] #330 closed

[2020-07-09 22:42] immewnity commented on #344
Still haven't heard from Discord, but wanted to update that I made a test Slack and it works fine, so even more likely that there's a problem on Discord's end.

[2020-07-09 22:55] immewnity opened #359 "Some snapshots not flagging as changed"
I'm tracking an extremely simple page on my own website, consisting of just a single h1 element with text in it. I'll change this text to test if alerting is still working. I noticed that one change didn't show up on the Watching page or send a notification, but still showed up in the "past snapshots" as a change.

Snapshots page:
![image](https://user-images.githubusercontent.com/3454676/87098210

[2020-07-11 22:09] tommeagher commented on #344
@immewnity thanks for the update. If it's all right, we'll close out this issue then. If it resurfaces or if you have further issues, let us know and we can reopen it.

[2020-07-11 22:09] #344 closed

[2020-07-13 21:15] immewnity commented on #344
Verified that the above change fixes the issue.

[2020-07-14 07:51] bobburgers7 opened #361 "Sendgrid - banned?"
Hi,

I tried to setup klaxon via heroku.

I get to the part about enabling send grid. I click on the link for it on the resources page and it tries to go to send grid. I end up with an empty page loaded. Then, I tried removing the send grid add on and adding it myself manually. I then get this error when I try to add back sendgrid:

'Item could not be created: An error was encountered when contact

[2020-07-14 07:54] bobburgers7 commented on #361
<img width="420" alt="image" src="https://user-images.githubusercontent.com/41246074/87399600-73503e80-c56c-11ea-8afd-be6de54b633e.png">

[2020-07-14 08:11] bobburgers7 commented on #361
I completely deleted my klaxon and set it up a 2nd time. I'm using a gmail address when registering with heroku. Now I get a 403 error when trying to click on sendgrid in resources.

<img width="707" alt="image" src="https://user-images.githubusercontent.com/41246074/87401406-ef4b8600-c56e-11ea-8d38-2f1bd7e9513e.png">

[2020-07-14 15:40] GabeIsman commented on #361
I've seen this happen before. I think sometimes it just takes sendgrid a little while to set up the account associated with the heroku addon. Try again in a few hours and see if it still gives you the 403. If it does, there might be something else wrong. Sorry for the trouble!

[2020-07-14 16:05] #321 closed

[2020-07-15 20:20] bobburgers7 commented on #361
I just tried it now (2 days later) and continue to get the  access to sendgrid.com denied error. I opened a ticket w/ Heroku and they've forwarded it to sendgrid. Will see what they say!

[2020-07-17 18:19] stucka opened #373 "Minor feature request -- say which install sent a change notification"
I have two Klaxon installs I run mostly for other people and one of them went down for a couple months. I might have noticed sooner, but Klaxon's emails don't tell you which install is triggering a notification. Hovering over the "view source page" button gives an obfuscated link from Sendgrid.

It might be good if notification emails just said somewhere what Klaxon was sending a thing, e.g.:
Some

[2020-07-18 00:52] tommeagher commented on #373
Thanks, @stucka. This is a cool idea. We'd definitely consider this. There could be spots to customized the navbar for an organization as well.

[2020-07-21 16:16] immewnity commented on #361
Yeah, I've been getting this as well. I think SendGrid may have changed their URL structure and the Heroku integration hasn't been updated. For what it's worth, I've noticed that about half of the time, email works out of the box - so if I spin up an instance and email doesn't work, I've just been removing it and trying again, as one or two more times usually works fine.

[2020-07-21 16:20] immewnity opened #374 "Feature request: ability to hide user email addresses for non-admins"
I manage a Klaxon instance that's used across a few newsrooms, and I've received messages from a few people asking if there was any way to hide their email address from other users. As of right now, I don't believe that's a possibility.

Maybe a checkbox toggle in the settings for each user to hide their email, or a global "hide all email addresses" checkbox that admins can toggle?

[2020-07-26 14:41] tommeagher commented on #374
Hey @immewnity, this is an interesting idea. We've always thought of this as a shared instance within a single newsroom. We never imagined it would be shared across news organizations.

Out of curiosity, what are the concerns about email addresses? Are your users OK with their names being displayed but not their addressees?

And where are they seeing their emails? It's just on the /users page, isn

[2020-07-26 14:41] tommeagher commented on #361
Hey, @bobburgers7, have you had any luck with getting this resolved?

[2020-07-27 19:41] immewnity commented on #374
It is a really cool setup - we had knowledge-sharing group comprising a few different orgs and created a Klaxon instance for the group, since many of the pages watched would be the same for everyone.

Names are okay, just concern about the email addresses being viewable by others (I don't quite understand the concerns, but folks have messaged me about it).

Yes, just the /users page as far as I'm

[2020-07-27 19:45] tommeagher commented on #374
Ok. Good to know. We'll certainly consider it, and if someone wants to hack on this feature, pull requests are gladly accepted.

[2020-07-29 19:33] tommeagher commented on #344
@immewnity with the new release, did that sort out all the issues? I'm not that familiar with Discord. Is there anything else you think we should do to support the platform? Or should we make note of it in our docs somewhere?

[2020-07-29 20:46] immewnity commented on #344
Yes, it works in the new release after #360 .

Discord is very, very similar to Slack, and due to that similarity, Discord has a compatibility mode for webhooks. To use a Slack webhook with Discord, you just append /slack to the end of the Discord webhook URL. It might be something worth noting - I'll write something up and add it to README.md.

[2020-08-14 02:07] nikiej opened #377 "Bookmarklet not working, error 422"
I'm trying to add a new page to my watchlist, and the bookmarklet isn't working. I'm in Chrome. I just did a pull request to make sure I had the latest version of Klaxon. I also signed in and made sure I have the latest version of the bookmarklet. When I click on the bookmarklet, it wants me to log in (I had to zoom out to 50% to see the login field) and when I enter my email address, it tells me:

[2020-08-14 14:51] smizmiatch commented on #377
I also have this issue. The bookmarklet appears to work fine in Firefox, but not in Chrome. Thanks for any help.

[2020-08-14 17:25] tommeagher commented on #377
Thank you for flagging this, @nikiej. I too am having the same issue, which I just noticed the other day. We will have to look into this. I'm not sure if it's related to our recent release 0.3.4, but I imagine it is.

Unfortunately, my colleague @GabeIsman is on vacation for a couple of weeks, so we won't be able to fix this immediately, but will elevate this.

For now, you can still manually add

[2020-08-18 15:08] tommeagher commented on #82
Found myself about to add this ticket again. Would be a super handy feature.

[2020-08-19 07:22] grssnbchr opened #379 "Change app name"
I changed the app name in heroku. Now, when I try to login, the emails I get still point to / account for the old app name. Is there something I need to change? Or is this not a supported use case and I need to redeploy the app to give it another name?

[2020-08-19 17:40] tommeagher commented on #379
Hi @grssnbchr. This isn't something we've seen done. @GabeIsman may have some advice on how to update Klaxon to account for the new URL. He's away for a bit but can weigh in when he's back online.

[2020-09-14 00:04] GabeIsman commented on #377
This should be fixed in v0.4.0 thanks for reporting @nikiej and @smizmiatch!

[2020-09-14 00:04] #377 closed

[2020-09-14 02:29] ajschaf opened #381 "Bookmarklet issues on Safari"
I've been having issues getting the bookmarklet to work with Safari recently. I upgraded to v0.4.0 but that didn't help.

When I open up the console and try to use the bookmarklet, I get this error:
`Refused to load https://[klaxon deployment dot com]/embed/inject because it does not appear in the script-src directive of the Content Security Policy.`

[2020-09-14 14:11] GabeIsman commented on #381
Hey @ajschaf,

That looks like it's a problem with the web page you're trying to create monitoring for. Some sites set a "Content Security Policy" that doesn't allow Klaxon code to run on their page. In cases like these, unfortunately you'll have to set up the monitoring of those pages manually. Check out the "Adding Klaxon Manually" section of the help page in your app. Unfortunately this does re

[2020-09-14 14:11] #381 closed

[2020-11-05 18:55] mdo1234 commented on #361
I have the same problem. After getting the app ready and contacting Sendgrid, Sendgrid tells me they can't find an account associated with my Klaxon installation on Heroku. I deleted the installation, tried again ... to no avail. Any thoughts?

[2020-11-06 18:29] mdo1234 commented on #361
Okay, I first tried with a .de email address. I retried it with a .com email address and now everything worked fine after getting in touch with Sendgrid's customer serivce.

[2020-11-06 18:35] tommeagher commented on #361
Hi @mdo1234. Thanks for checking in on this and on the update. Sendgrid has been increasingly erratic. Many users have no problems at all. We've now heard from a half-dozen in recent months that have had to jump through all kinds of hoops. It seems with their acquisition by Twilio, they're not really set up to support the Heroku accounts the way they used to. We've added this to our README:

Still

[2020-11-07 03:13] mdo1234 commented on #361
@tommeagher I was to quick with my assessment. Klaxon is all set-up, Sendgrind connected. But Klaxon is not transferring an email with the login link. It says "Email Sent. Check your email and find the link to log in to Klaxon" but this is simply not happening ... not in the spam, not anywhere. I am stuck.

[2020-11-07 14:12] tommeagher commented on #361
@mdo1234 it sounds like maybe Sendgrid isn't working yet after all. Perhaps @GabeIsman can offer advice.

[2020-11-07 14:16] mdo1234 commented on #361
From the log

<< 2020-11-07T12:57:42.386628+00:00 app[web.1]: [ActiveJob] [ActionMailer::DeliveryJob] [c6dc7fc1-7d50-4f11-aa1f-953d830bc943] Error performing ActionMailer::DeliveryJob (Job ID: c6dc7fc1-7d50-4f11-aa1f-953d830bc943) from Async(mailers) in 320.82ms: Net::SMTPFatalError (550 The from address does not match a verified Sender Identity. Mail cannot be sent until this error is resolved. V

[2020-11-11 19:58] harrislapiroff opened #404 "SendGrid not relaying emails from Klaxon when using the Heroku setup"
I was trying to get this set up on Heroku using the one-click process. I had to go through the SendGrid rigamarole listed in the README, but even then I wasn't receiving the confirmation email when I attempted to log in. I dug into the logs and found this entry:

[code]

It appears that Klaxon is sending the confirmation email from the address `Klaxon <no-reply@newsklaxon.org>` and SendGrid is rej

[2020-11-12 21:00] harrislapiroff commented on #379
I had to log into the Postgres database using a Postgres client to update the domain name in a table.

[2020-11-14 23:17] tommeagher commented on #404
@harrislapiroff thank you for filing this excellent issue. This is super helpful. Sendgrid has been getting progressively more and more difficult to deal with and has changed much of the workflow since we launched Klaxon 4 years ago. We have to think through how to sort this out to make it easier for everyone to get started. This will be indispensable in doing that. Thanks!

[2020-11-16 22:49] dslamancmic opened #406 "Heroku Setup and SendGrid issues"
I'm having some problems getting things working on the Heroku platform.
I'm not receiving the initial email to start setting up the admin portion of the application.

A brief history of what I've done so far:

I setup a free Heroku account
I setup a SendGrid Account
I deployed the Heroku project
Did the scheduler config

I opened one ticket with SendGrid and that didn't get very far.
I opened a ne

[2020-11-17 19:48] tommeagher commented on #406
Hi @dslamancmic. Thank you for this very thorough ticket. It seems that SendGrid is changing how it provisions accounts, and the functionality of its API, which is wrecking some havoc on our little project that has been running pretty well for about 4 years before this. So we're working on some fixes to smooth this out, but it may be a few weeks until they're available. In the meantime, your issue

[2020-11-17 20:31] dslamancmic commented on #406
Confirmed. The solution in 404 worked. Thanks. I'm not sure how I didn't see that issue when I looked through the support options.

[2020-11-17 20:37] tommeagher commented on #406
@dslamancmic I'm really glad to hear it. I'll close this issue as a duplicate for now and we'll concentrate on using #404 as a guide to improving our setup. Thanks again!

[2020-11-17 20:37] #406 closed

[2020-11-18 13:58] njdehoog commented on #404
@harrislapiroff did you restart your dyno after setting `MAILER_FROM_ADDRESS`? I ran into the exact same issue, but was able to fix it by setting that environment variable and restarting the dyno.

[2020-11-29 21:05] certrik opened #407 "Proxy configuration for Docker"
Please provide a working way to install via docker locally.
A way for defining a proxy (TOR, etc) could be very helpful.

[2020-11-30 15:46] tsenilov opened #408 "422 Rejected"
Local install with docker does not work.
I can see starting page "You’ll know first", type email and then error 422 rejected. Tried different emails, several emails.

Nothing helps. The answer is:
Can't verify CSRF token authenticity.
Completed 422 Unprocessable Entity in 1ms (ActiveRecord: 0.0ms | Allocations: 214)
ActionController::InvalidAuthenticityToken (ActionController::InvalidAuthenticityT

[2020-12-01 11:27] certrik commented on #408
As far I happen to understand up to now it is a problem of not connecting via SSL so the token cannot be verified.

[2020-12-01 11:55] tsenilov commented on #408
You're right. I've solved this by forcing ssl in my compose file and adding klaxon to traefik2 installation. So now it just works.

[2020-12-01 13:43] tsenilov commented on #408
But now I'm having another problem. Browsers block klaxon script. I think it is about CORS, have no idea how to bypass this.

[2020-12-01 13:53] certrik commented on #407
@GabeIsman
Please. Klaxon is also very useful if operated on premise with the ability to use an internal smtp server and connecting to the internet via proxies.

[2020-12-01 15:27] GabeIsman commented on #408
What website are you trying to use Klaxon on @tsenilov? Some sites have Content Security Policies (CSP) that prevent the injection of outside scripts into the page. For those sites I'm afraid you have to add them manually (see the Readme).

[2020-12-01 15:27] #408 closed

[2020-12-01 15:29] GabeIsman commented on #407
Hey @certrik, that's a good idea and I can certainly see the utility. Unfortunately we don't use Docker and don't have time right now to support it more fully. If someone wants to get it up and running and send a PR, I'm happy to merge!

[2020-12-08 21:01] GabeIsman opened #411 "Make email login optional"
We have been having an increasingly difficult time with setting up new Sendgrid accounts. After some investigation into other options, I've not found anything that's markedly easier. Sending email is what spammers do, so setting up a newly authorized sender account is always going to be seen as risky. To try to keep the first time user experience as simple and frustration-free as possible, I think

[2020-12-12 05:57] immewnity opened #414 "Monitor other content types"
Currently, Klaxon monitors changes in HTML inner content. However, this isn't always the way that websites display their data - oftentimes, the data is dynamically loaded using another method, often JSON.

For example, https://www.pokemon.com/us/news/ loads articles using the JSON data at https://www.pokemon.com/us/api/news/ - the article listing isn't available in a GET request from the base page

[2020-12-14 15:55] tommeagher commented on #414
Hi @immewnity. Thanks for this suggestion. It's not documented, but Klaxon actually will work on a JSON feed, though it doesn't support JSON selectors. We're using it now on a couple of sites and have found it helpful. You can add the JSON url using the "Manually Watch an Item" button on the "Watching" page, and it should work. Give it a try and let us know how it goes.

[2021-01-14 19:12] tszumowski opened #422 "Unable to deploy to Heroku using link in README"
I clicked the top Deploy to Heroku link in the README: https://heroku.com/deploy?template=https://github.com/themarshallproject/klaxon/tree/master.

When I deploy the app, I get errors in the "Build App" stage. It says:

[code]

Screenshot:
![image](https://user-images.githubusercontent.com/10282962/104637217-80143300-5672-11eb-938b-5c8952af71ab.png)

[2021-01-14 19:16] tszumowski commented on #422
Note: Seems related to this issue, just one more version bump in heroku-stack now:
https://github.com/themarshallproject/klaxon/issues/202

[2021-01-14 22:51] GabeIsman commented on #422
Hey @tszumowski, Thanks for the detailed issue. I've just upgraded the ruby version in develop, but I want to let that run for a few hours to make sure we've not introduced any new problems. I'll cut a new release to master tomorrow.

If you're eager to get going you can deploy the develop branch here: https://heroku.com/deploy?template=https://github.com/themarshallproject/klaxon/tree/master

[2021-01-14 22:51] #422 closed

[2021-01-15 02:34] tszumowski commented on #422
@GabeIsman That link worked perfectly. Thank you!

[2021-01-15 11:40] tszumowski commented on #404
@tommeagher I also ran into this issue. Can I suggest that the README be updated with this SendGrid situation and the `MAILER_FROM_ADDRESS` to be set in the way @harrislapiroff described? Coming in fresh last night, it took me quite a while to discover the issue. Particularly because the README implies it's an issue on SendGrid's side requiring a support ticket.

[2021-01-15 11:43] tszumowski commented on #361
This issue sounds very similar to https://github.com/themarshallproject/klaxon/issues/404. Over there, I had the same success as the issue author. By setting `MAILER_FROM_ADDRESS` to my SendGrid verified Sender Identity address, I got it to work.

[2021-01-15 17:38] tszumowski opened #425 "How to detect any change on page (no selector)?"
Is it possible to track for _any_ change on the page? I tried to keep the selector empty, but in the logs, I see entries like the following for any page that I left with no selector:

[code]

[2021-01-15 20:44] tszumowski commented on #425
Hmm. Send this may be the same or similar to https://github.com/themarshallproject/klaxon/issues/155m
I'll leave this open to confirm.

[2021-01-15 21:10] GabeIsman commented on #425
@tszumowski Yep, this is definitely unintuitive behavior (and a duplicate of the bug you mentioned). If you just want to track the whole page putting `body` in the selector field should do the trick.

[2021-01-15 21:10] #425 closed

[2021-01-15 22:22] tszumowski commented on #425
@GabeIsman thank you for the quick reply and example usage!

[2021-01-16 00:19] GabeIsman commented on #404
Good suggestion @tszumowski, I've added some notes on this to the doc. Also thank you @harrislapiroff (also hi! funny seeing you here) for detailing this issue and the fix so clearly.

[2021-01-19 15:20] tszumowski commented on #404
@GabeIsman @harrislapiroff I noticed when I use my personal email (the one used to verify sender), it hits the SendGrid limit of [100 emails a day](https://sendgrid.com/pricing/), whereas Heroku claims [up to 12000 per month](https://elements.heroku.com/addons/sendgrid), as does the README here.

I ended up quickly hitting that 100 emails a day limit due to using my personal email (for reasons des

[2021-01-19 15:29] tommeagher commented on #404
@tszumowski this is a new wrinkle we haven't heard about yet. Is the email you used to verify with Sendgrid the same email you use for your Heroku account?
@harrislapiroff have you run into this?

[2021-01-19 15:57] tszumowski commented on #404
@tommeagher

Yep. Both are my personal gmail account.

[2021-01-19 18:07] tommeagher commented on #404
Good to know, though I am stumped. @GabeIsman have you heard of this issue coming up?

[2021-01-19 22:41] GabeIsman commented on #404
Hmm, seems like yet another instance of Sendgrid not really supporting their Heroku plugin. That was the same limitation I ran into when investigating the free tier of mailgun. There just doesn't seem to be a proper free solution for sending emails from Heroku anymore. I'm not sure what to tell you @tszumowski. You may need to 1) pay for Sendgrid or 2) replace Sendgrid with something like Postmark

[2021-01-20 00:12] tszumowski commented on #404
@GabeIsman no worries! And thanks for the ideas! I ended up making good use of the slack notification which ends up fitting my use cases better anyway! For SendGrid, 100/day is still a good backup for me for personal use, and I imagine for people to get started with Klaxon. I just happened to have some real chatty sites during my initial testing. Thank you again!

[2021-01-20 01:25] tommeagher commented on #404
@tszumowski I'm sorry about that. So weird that the support from Sendgrid has deteriorated so much in the last year. Let us know if Heroku has any answer or advice.

[2021-01-20 09:33] KrisPetkov opened #427 "[Question] Do I need an existing Sendgrid account"
Hello everyone,

I have a question (maybe a dumb one) in reagrds to Sedngrid. Do I need to make a profile before setup the Klaxon on the Heroku platform or the sendgrid account will be created for me after I setup Klaxon application?

Thank you in advance!

[2021-01-20 15:38] GabeIsman commented on #427
@KrisPetkov You don't need an existing sendgrid account. One will be created automatically by Heroku in the setup process. There are however lots of annoying details with sendgrid, so be sure to refer to the readme and feel free to come back with questions if you run into trouble.

[2021-01-20 15:38] #427 closed

[2021-01-20 15:50] KrisPetkov commented on #427
Hi @GabeIsman  thank you for your answer! I did everything from the github readme and contacted the Sendgrid’s support to unblock my user and they told me that they cannot find a user with this email. I sent them the email used to login in Heroku as described in the tutorial

[2021-02-02 17:42] tszumowski opened #434 "Heroku Approaching Row Limit"
I just got an email regarding my Heroku Klaxon app:

--

I've been running this app for a few weeks, on a few dozen pages. Of which some are a bit chatty (5-10 changes a day).

Is this Heroku alert normal? If so, is there a way to purge old records in the Heroku database via klaxon UI or code so that I don't hit the limit?

[2021-02-03 00:25] tommeagher commented on #434
Hi, Tom. This is common. Once you hit that 10,000-row limit, you can upgrade to the $9/month hobby basic plan for Postgres. But you may not be ready for that yet.
There isn't a way to delete individual records, unless you want to log into Postgres (and @GabeIsman can advise on that). But it is pretty easy to delete pages you're watching, which will then purge all of their snapshots from the databa

[2021-02-04 01:35] tommeagher opened #436 "Allow checkbox to automatically send every change to the Wayback Machine"
This could be a checkbox option on the edit page right below the selector text box.
<img width="1177" alt="Screen Shot 2021-02-03 at 8 31 59 PM" src="https://user-images.githubusercontent.com/713778/106832011-eaf7cf00-665e-11eb-9573-cc82bc7f0796.png">

If checked, such a feature would automatically ping the Wayback Machine every time Klaxon notices a change to the site, using this endpoint: https:

[2021-02-04 12:30] tszumowski commented on #434
Thank you @tommeagher. I was interested in what to delete safely from the postgres database.

@GabeIsman I'm able to connect to the database and query tables (as well as backup) below. I did the following and it *seemed* safe. As in I can still see history and I saw the change count on the main page drop after running it. But wanted to check with you.

1. Get name of database [https://data.heroku.

[2021-02-04 17:44] GabeIsman commented on #434
@tszumowski I think that's relatively safe, but not perfectly efficient, since there are associated `Change` records that are left behind. If you do this through the Rails console instead, that would be handled for you. If you're logged into the [Heroku CLI](https://devcenter.heroku.com/articles/heroku-cli) you can get into the production rails console with `heroku run rails console --app <your in

[2021-02-04 17:44] #434 closed

[2021-02-05 11:11] tszumowski commented on #434
@GabeIsman your suggestion is perfect. That's exactly the type of process I was hoping for, and far more safe than me arbitrarily deleting database records from under the hood. Thank you. 😄

[2021-02-26 18:15] kratsg commented on #411
Struggling a bit here as I've been waiting for a few days to get my account un-suspended so I can start. It's not as smooth a process as I would've expected. Surprised the integration w/ heroku is more difficult.

[2021-03-02 08:03] fourofspades commented on #411
I guess I'm missing something obvious here, but if there was a basic username/password login and you could then set any email SMTP server (e.g. Gmail).

It does feel like SendGrid is a huge weak link in an other nice product.

[2021-03-02 15:37] fourofspades opened #448 "Integrate with Pushover API"
The email notifications are clunky set up and clunky to use (nobody is selected by default on new monitors).  Is there any way I an integrate this with Pushover API to I get phone notifications?

https://pushover.net/api

[2021-03-10 01:57] DieselTech commented on #411
With the Twillo Sendgrid plugin not working directly from herokuapp.com and them not answering support emails to get a new account setup, this leaves Klaxon dead in the water.

I'd suggest making a temporary login during app creation that can be used to create new users and setup feeds into other notification channels. (Slack / Discord).

[2021-03-15 13:38] TWALLACK opened #454 "Klaxon not checking webpages"
I just installed a new instance of Klaxon, but it doesn't seem to be actually finding any changes in web pages.
Is it possible I accidentally screwed up a key setting?  Is there somewhere I can view a list of the correct settings to make sure mine are correct?

Two notes:
1) SendGrid. I don't think it's a SendGrid problem, because I'm now getting login emails and the feed page is empty.  (I tried

[2021-03-15 14:51] GabeIsman commented on #454
Hi @TWALLACK. I always double check if an instance is working with this page: https://www.timeanddate.com/worldclock/usa/new-york. That should tell you whether it's a problem with the setup of the particular page you're trying to track, or with the instance overall.

[2021-03-15 18:49] GabeIsman commented on #454
Do you have the papertrail addon installed? Or another logging addon? You might have a look at the logs and see if there any clues there.

[2021-03-15 20:28] TWALLACK commented on #454
Problem solved. I installed the Papertrail addon and was able to identify the problem. Some of the URLs were entered incorrectly, had no updates, or had some other unique situation going on.  Once I corrected some of the URLs, it worked fine. Yay! Thanks for all the great advice.

[2021-03-15 20:28] #454 closed

[2021-03-15 20:29] GabeIsman commented on #454
Glad to hear it!

[2021-03-22 14:20] cmerref opened #457 "Sendgrid unsuspend"
Hello -- I'm trying to set up Klaxon for my newsroom but I am running into issues with Sendgrid. They can't seem to find my Heroku account I set up with my work email address. This is perhaps the most relevant interaction I have had with them:

"There should be a username used that heroku created when using Sendgrid. It will be a long string of characters@heroku.com."

I cannot find any "long stri

[2021-03-22 21:09] immewnity opened #458 "Attempting to delete a watched item fails, crashes Heroku"
This only seems to happen if there are a lot of snapshots logged. Same thing happens if I try to delete from the watch list or from the watched item's page.

[2021-03-24 14:53] mikejanssen opened #459 "Can't log in via bookmarklet"
I'm using the Klaxon bookmarklet in Chrome 89.0.4389.90 (Mac) and am getting a 422 "Rejected. You might not have access" message, even when I'm logged in. I saw an earlier issue reported here and tried toggling the third-party cookie option in Chrome preferences, but that didn't work.

[2021-03-24 20:15] ericwallace904 opened #460 "500 error when logging in"
If I try to log in via the bookmarklet or via the app's main page, after I type in my email address and click "login", I get a "500 We're sorry. Something went wrong. Go home?" message.  I'm using Edge on Win10, if that matters.
I checked the Heroku log and there was a message of "Net::SMTPAuthenticationError (535 Authentication failed: Bad username / password"
I hadn't logged in to my Klaxon in a

[2021-03-25 07:14] JDetmar opened #461 "New Heroku Deploy Failure - mimemagic 0.3.5 removed"
New deploy to Heroku failed.
Build log
[code]

[2021-03-26 19:03] tommeagher commented on #458
Can you share what it says in your Heroku logs, @immewnity? How many is "a lot" of snapshots?

[2021-03-26 19:04] tommeagher commented on #459
@mikejanssen do you have any better success in another browser, out of curiosity?

[2021-03-26 19:05] tommeagher commented on #460
@ericwallace904 Did this ever work? I wonder if there's an issue with SendGrid authorization.

[2021-03-26 19:08] tommeagher commented on #461
Thanks for flagging this @JDetmar.

@GabeIsman, it looks like we might need to bump the version in one of our dependencies? Here's the latest [mimemagic releases](https://github.com/mimemagicrb/mimemagic/releases).

[2021-03-26 19:29] tommeagher opened #463 "On creating new alert, check user in email boxes by default."
Suggested by @fourofspades in #448

[2021-03-26 19:30] tommeagher commented on #448
Hi @fourofspades. We're not familiar with this API, but if you want to send a pull request, we're happy to take a look and merge if it works for us.

Also, you raise a good point about default checks for emails. At the very least, it should check the user who creates the alert. I've created [an issue](https://github.com/themarshallproject/klaxon/issues/463) for us to add that in a future release.

[2021-03-26 19:31] ericwallace904 commented on #460
@tommeagher It worked for a while.  It looks like the last notification I got was in May 2020.  I didn't realize it wasn't working until now...

[2021-03-26 19:36] tommeagher commented on #460
@ericwallace904 it looks like you're running a very old version of Klaxon, version 0.2.6 (We're now on 0.5.0). I'm going to guess your problem relates to this: https://github.com/themarshallproject/klaxon/blob/develop/SENDGRID.md Did you update your Sendgrid API key as in those instructions?

[2021-03-26 21:11] immewnity commented on #458
723 total snapshots. Looks like it ran out of memory:

[code]

Maybe there's a way to run the processes in chunks, so as to not use so much memory? Looks like it's going above 1GB of RAM usage, and the only Heroku plans that allow for that start at $250/month...

[2021-03-26 22:06] ericwallace904 commented on #460
I had not updated my Sendgrid API key - just did that and email works!  Thanks!
I tried updating my Klaxon, and things are breaking because of that mimemagic issue...

[2021-03-26 22:06] #460 closed

[2021-03-26 22:08] tommeagher commented on #460
@ericwallace904 Doh. Ok. I will note in #461 you're getting caught in that too. I don't think we'll be able to fix it today, but will try to tackle it early next week.

[2021-03-26 22:09] tommeagher commented on #461
@ericwallace904 is dealing with this issue too.

[2021-03-27 16:16] tommeagher commented on #458
Hmmm. OK. that is problematic. Will have to see what @GabeIsman thinks about a solution for this.

[2021-03-29 07:18] fourofspades commented on #448
No familiar with ruby language, so developing this might be an uphill struggle, I also have no knowledge on how I would build, test and deploy a fork on the Heroku platform.

Thats alot I dont know!  What I do know,  Pushover is a really good notifications system with clients for most systems, and a really good clean Ali with example code and libraries for most platforms and languages, including r

[2021-03-30 13:00] marcohald commented on #84
@GabeIsman do you have news on this Issue ?

[2021-03-30 13:26] GabeIsman commented on #84
No, no progress on this. You'll have to add pages with strict CSPs manually.

[2021-03-30 13:39] GabeIsman commented on #458
Yea this is a known issue. We should be deleting the associated change records in constant-sized batches. The easiest workaround for now is to upgrade your Heroku dyno temporarily, perform the expensive operation, and then scale it down again. Heroku charges are prorated in very small increments so this would be cheap. There was some more discussion of this on the user group: https://groups.google

[2021-03-30 15:27] immewnity commented on #458
That workaround will do! Thanks.

[2021-03-30 15:27] #458 closed

[2021-03-30 20:09] mikejanssen commented on #459
@tommeagher Same problem in Safari.

[2021-04-05 20:05] slamanna212 commented on #461
Also having this issue, exact same error

[2021-04-10 11:50] tommeagher commented on #461
Thanks for letting us know you're hitting this too, @slamanna212. We'll let you know as soon as we have a fix.

[2021-04-10 12:02] tommeagher commented on #459
Hi @mikejanssen, thanks. We'll have to look into this. One additional question, did this work for you at some point and then it stopped working, or has it always been an issue since you launched your instance of Klaxon?
And what version of Klaxon are you running?

[2021-04-10 22:34] mikejanssen commented on #459
Yes, it used to work. Uh sorry but how do I find out what version I'm running?

[2021-04-12 16:04] tommeagher commented on #459
This is something we want to surface in Klaxon but for now you have to peek in your Github fork for it. Look in this URL, swapping out your username where we have "themarshallproject": https://github.com/themarshallproject/klaxon/releases

That lists all the releases you have in your version, and you can see what is the most recent.

[2021-04-12 19:24] mikejanssen commented on #459
I get a "page not found" when I do that.

[2021-04-12 19:26] tommeagher commented on #459
Is your fork of Klaxon in a public Github repo?

[2021-04-13 00:43] #461 closed

[2021-04-13 00:48] GabeIsman commented on #459
My best guess is that 1) you're on older version of Klaxon (if you haven't updated in the last year or so then this is true) or 2) you're application is in an environment without https. Are you on Heroku? If not, that might be the issue. There's some explanation of this here: https://github.com/themarshallproject/klaxon/pull/380 but the TL;DR is that browsers are moving away from allowing third pa

[2021-04-13 00:58] GabeIsman commented on #457
Hey Clark,

Sorry for the slow reply. The sendgrid account is created for you automatically by the sendgrid heroku plugin when the app is created. I can see my "long string of characters@heroku.com." when I click on the sendgrid plugin in the resources tab of the app. It looks like this:

<img width="262" alt="image" src="https://user-images.githubusercontent.com/697801/114480978-9aa66b80-9bd1-11e

[2021-04-13 14:14] mikejanssen commented on #459
@GabeIsman Yep, my version is older than a year. So I should just update?

[2021-04-14 11:33] srikanthlogic commented on #461
Deployed today, this is resolved. Thank you 🎉

[2021-04-15 11:47] theRAGEhero opened #472 "Use standalone email server instead of Sendgrid"
Hello,
Thank you for this awesome tool.
I was wondering, is it possible to use a standalone email server?
Thank you and have a good day,
Alessandro

[2021-04-16 17:31] mikejanssen commented on #459
I followed the "applying upgrades" instructions through "You'll only have to do all of this one time to set up the pipeline." I don't think the version I'm on is below 0.2.0 so I didn't do that part. But I'm still having the same issue with the bookmarklet, in both Safari and Chrome.

[2021-05-05 10:28] NoHara42 opened #482 "No snapshots displayed, even on constantly changing sites"
Hi,
I don't know what could be wrong.

I recieve login emails from sendGrid so there must be something working, but I am seeing no changes on the sites I am watching, nor via email or webhook, and also no snapshots.
See attached screenshot.
![Screenshot from 2021-05-05 12-25-20](https://user-images.githubusercontent.com/43496778/117127937-0c22a580-ad9d-11eb-8257-a528e97462ec.png)

I am watching th

[2021-05-17 01:57] RoneoOrg opened #487 "Add screenshots to the documentation"
Hi,

this project is super interesting, and before running the complex setup, I would love to see how it looks:

Quoting from the documentation:

How look the email notifications? and the diff received? A screenshot would be great here!

How does this selection work? With a CSS selector? A screenshot would be great here!

Would love to see that too!  A screenshot would be great here!

Another solu

[2021-05-17 02:11] RoneoOrg commented on #482
Hi,

according to your screenshot, you are watching the div called "`rh_ri`", but this string does not appear in the source code of Powerthesaurus. Maybe this codebase is too inconstant and the div names change too often?

[2021-05-21 07:54] SinSharks commented on #457
@cmerref
You should be able to find your SendGrid address in your environment variables.
![image](https://user-images.githubusercontent.com/16837202/119102437-ddc4dd00-b9ce-11eb-8825-f2d59f1b6913.png)

@GabeIsman
Glad to hear as this process is really painful. I'm still struggling through it as well, Hopefully, I'll have some good news in the morning.

[2021-06-08 10:17] dependabot-preview[bot] opened #495 "Dependabot couldn't reach https://rubygems.org/ due to underlying error <bad response Gateway Error 502 (https://rubygems.org/specs.4.8.gz)> as it timed out"
Dependabot couldn't reach https://rubygems.org/ due to underlying error <bad response Gateway Error 502 (https://rubygems.org/specs.4.8.gz)> as it timed out.

Is https://rubygems.org/ due to underlying error <bad response Gateway Error 502 (https://rubygems.org/specs.4.8.gz)> accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on

[2021-06-09 10:15] #495 closed

[2021-06-14 19:58] tommeagher opened #496 "Send sanity checking alerts"
We should consider creating some alerts that would go to the list of Klaxon's `ADMIN_EMAILS`. Perhaps once a week (or once a month) send out a note flagging any Pages that have no email subscribers or Slack channels getting alerts.

Would also be good to send an alert to `ADMIN_EMAILS` for pages that appear to be particularly noisy. If a page generates more than, say, 30 or 50 changes in a day, se

[2021-06-25 11:52] danielfomin96 commented on #472
It is at least possible with Docker. See [docker_example](https://github.com/themarshallproject/klaxon/tree/develop/docker_example).

[2021-06-25 16:24] theRAGEhero commented on #472
Oh Thank you, I didn't see it.

Il 25 giugno 2021 13:52:52 CEST, danielfomin96 ***@***.***> ha scritto:

--
Inviato dal mio dispositivo Android con K-9 Mail. Perdonate la brevità.

[2021-06-28 15:51] myersjustinc commented on #496
I like this idea. It also seems like some of the concerns raised elsewhere could be included (optionally) in this list of alerts, such as:

*   Selectors that capture too little (#85, #482), rather than too much as described above
*   Misconfigurations on specific pages (#154, #155)

[2021-07-19 15:22] Wowfunhappy commented on #459
Hi, I'm experiencing this and I only just set up my Klaxon instance this weekend, so it's definitely up-to-date! I'm also on Heroku.

[2021-07-22 03:39] tomcardoso commented on #414
I just tried testing this, and I'm wondering if this is maybe not working anymore? I just added a page that returns a JSON content type (I left the selector field blank, to be clear), waited for a scrape to execute, and then checked the `watching/pages/{unique_id}/snapshots` page to see if a snapshot had been captured – but it's not showing me any snapshots. Is there anything I need to do beyond w

[2021-07-22 15:31] tommeagher commented on #414
Hey @tomcardoso, it is working on our end. We use `body` in the selector, though I can't seem to remember why, but it works. If you're comfortable sharing your URL (you can email it to me), we can try to test it on our Klaxon instance too.

[2021-07-26 13:15] ilopata1 commented on #434
I have found that executing the following SQL is an effective way of keeping only the last change for each page being tracked:

delete from page_snapshots where id not in (select max(id) from page_snapshots group by page_id);
delete from changes where before_id not in (select id from page_snapshots) or after_id not in (select id from page_snapshots);

I would really like to turn this in to a rake

[2021-07-28 14:22] GabeIsman opened #502 "Tools to clean out old snapshots"
It might be handy for some users or use cases to have a way to delete old snapshots (see https://github.com/themarshallproject/klaxon/issues/434#issuecomment-886693706). This will allow people who don't need to preserve history to use the Heroku free tools for longer.

1) I think a rake task that generally cleans out everything older than x date, or older than x in sequence would be useful.
2) It

[2021-07-28 14:23] GabeIsman commented on #434
@ilopata1 that's a good suggestion! I'll take a look at that when I have a moment.

[2021-08-02 19:06] tommeagher opened #503 "Document how to send alerts to MS Teams channels"
from user WIlliam Joy:

We should add this to our docs.

[2021-08-09 00:42] avelytchko opened #506 "Bookmarklet is not working on some sites"
Seems like it's not possible to add page from site via bookmarklet - https://www.ableton.com/en/blog/. Tried in Chrome, Edge and Firefox. Probably JS blocking? Klaxon window just not opening. Working perfect on other sites.

[2021-08-09 14:15] GabeIsman commented on #506
Yea looks like that page's content security policy forbids the injection of foreign js. There's some more discussion of this here: https://github.com/themarshallproject/klaxon/issues/83. Ultimately not much we can do about it without major restructuring. You can always watch the page manually, without the bookmarklet.

[2021-08-09 14:15] #506 closed

[2021-09-15 19:37] djibouti33 opened #508 "Detecting href changes"
I've been using Klaxon for months now and am loving it.

Many of the sites I monitor link to PDFs. PDF change detection has already been discussed in https://github.com/themarshallproject/klaxon/issues/43. That would be great if someone changed the same PDF at the same location.

I'm needing to monitor when someone completely changed PDFs by linking to a new file all-together. If they did this, th

[2021-10-05 23:54] fdaudens opened #509 "Unable to add an user"
Hi,
I'm trying to add a new user, but when I click on the button to create the account, after filling the form, all I get is an error 500. Klaxon is running smoothly, and I can delete or update an account. Any idea why?
Thanks

[2021-10-20 01:58] immewnity commented on #508
Currently, no, this isn't possible. Klaxon only pays attention to the inner HTML. Not sure exactly where this is specified though.

[2021-11-15 14:19] yannguegan opened #510 "Login link not sent in new instance"
Hi there,

I just installed Klaxon on a Heroku instance, following the README instructions. However, I can not use it. I am facing two issues:

- the login link is sent by the Heroku app, but I never find it in my mailbox. I tried work and personal email, no luck. On the SendGrid dashboard, the Requests count is stuck at zero. Here's what's in the logs after I put the user email address:

[code]
-

[2021-11-15 14:31] yannguegan commented on #510
Nevermind, there was an issue with the sender email I used. Closing issued.

[2021-11-15 14:31] #510 closed

[2021-11-24 23:07] knutwannheden opened #512 "Include diff in Slack messages?"
I have now received my first notification in Slack and have a feature request I would like to propose: I think it would be nice if the Slack message already included the diff for the page that changed. The message may have to be truncated, but I still think it would be very useful to see a "preview" of the diff directly in Slack.

[2021-12-22 19:32] tommeagher commented on #512
Hi @knutwannheden. Sorry for the slow response. Thank you for reaching out. We're glad things are going well so far. As we think ahead to what we want to do with Klaxon in the year ahead, we'll definitely keep your idea in mind and will update this issue if we decide to adopt it.

[2021-12-30 18:55] immewnity commented on #404
Looks like SendGrid changed how their free tier works (per [https://www.reddit.com/r/webdev/comments/6flnhz/free_sendgrid_account_is_limited_to_100_emails/](https://www.reddit.com/r/webdev/comments/6flnhz/free_sendgrid_account_is_limited_to_100_emails/)), but if you had an account set up before then, you're grandfathered in to the 12,000. It also looks like you need to sign up for a trial to get t

[2021-12-31 00:09] immewnity commented on #404
Setting up a new instance, this is what SendGrid is now asking when you request the account to be unlocked:
![image](https://user-images.githubusercontent.com/3454676/147795626-62cb75cf-0d83-4f15-8416-f6bb222b10bf.png)

[2022-01-03 20:33] rdmurphy commented on #32
I replied to this nearly five years ago and now I work here, so I guess this is now my responsibility. 😉

[2022-01-03 21:12] rdmurphy opened #515 "Possibly replace email login logic with passwordless gem"
May be nice to abstract some of that stuff away.

https://github.com/mikker/passwordless

[2022-01-05 14:24] tommeagher commented on #404
Geez. What a pain. We're considering now alternatives to SendGrid for new installations. This path doesn't seem tenable any longer for new users.

[2022-01-05 14:57] immewnity commented on #404
Forgot to update that SendGrid denied my account from being activated, sooooo yeah. Another method would be good 😂

[2022-02-17 11:52] DOFfactory commented on #32
I just discovered this project, tried to deploy the container with the default settings, the page loads, but I cannot log in with any account (including the default `someuser@companyname.com` from here: https://github.com/themarshallproject/klaxon/tree/develop/docker_example I am getting a 422 page.

I am self-hosting, and I read (in https://github.com/themarshallproject/klaxon/issues/408) that ex

[2022-03-02 21:43] alfureu opened #516 "Scheduler environment for docker"
New user to Klaxon, and I am running it as a docker container. I understand that the scheduler should be set up to 10 minutes. At least this is what the documentation says if you deploy it through Heroku.

I do not use Heroku, is there a way how to set the scheduler manually? Would it be please possible to provide an environment for this setting?

EDIT: actually, it appears as if in the case of do

[2022-03-02 22:37] DOFfactory commented on #516
Actually, it is really easy to implement this, the `crontab` should be set to something like `*/10 * * * * /usr/lical/bin/rake check:all` inside of the docker container and that's it

Please make it possible to set this through an environment for dockers

[2022-03-25 19:38] bfeldman89 opened #537 "build failed"
new user setting up on heroku. Just forked GitHub repo and connected it, but build fails.

<img width="712" alt="Screen Shot 2022-03-25 at 2 33 54 PM" src="https://user-images.githubusercontent.com/26087892/160189855-12f377cf-d12b-40a2-a331-43ef377ce1b9.png">

Here's the build log:

[code]

[2022-03-25 20:05] GabeIsman commented on #537
Hmm, looks like maybe your database didn't get properly set up. Can you confirm that you have a postgres instance listed in your Resources tab?

[2022-04-01 15:59] bfeldman89 commented on #537
I didn't mean to close this. But maybe I should because adding the Heroku Postgres add-on did result in the build not failing. But once the build completes, unlike in the README, I can only "view" the app (there's no button to manage the app).

<img width="841" alt="Screen Shot 2022-04-01 at 10 56 26 AM" src="https://user-images.githubusercontent.com/26087892/161299601-77549aa1-036f-4c43-a456-96b1

[2022-04-01 16:56] GabeIsman commented on #537
Looks like because things happened in a slightly different order for you, you were already in the "manage app" section. You just need to click over to the resources tab to continue the setup process. You might need to check the logs to see what that 500 error was about if finishing up the setup process doesn't resolve it.

[2022-04-08 17:37] bfeldman89 commented on #537
I'm sorry but I just cannot for the life of me figure out what is wrong 😫... I've done all of the setup steps but I still get the 500 error page. Here is my build log, and the request/response headers for the app:

## build log

[code]

## Request headers

[code]

## Response headers

[code]

## Response

[code]

[2022-04-08 18:51] GabeIsman commented on #537
It's possible this is still a database setup problem. What I meant by look at the logs was the server side logs while the app is running. You can do that an add-on called Papertrail. It's free, and we should just install it by default, but alas I haven't gotten around to it. If you add papertrail, click on it, then visit the page, you should get a much better idea of what the problem is.

[2022-04-12 15:10] bfeldman89 commented on #537
papertrail log:

[code]

[2022-04-13 21:56] bfeldman89 commented on #537
That solved it! Well, for some reason `heroku run rake db:create -a mcc-klaxon` resulted in an error ("User does not have CONNECT privilege"), but `heroku rake db:schema:load -a mcj-klaxon` did the trick.

[2022-04-13 22:01] bfeldman89 commented on #537
but now my admin and collaborator emails don't work. I'm sorry this is such a mess. Idk what I did wrong.
<img width="918" alt="Screen Shot 2022-04-13 at 5 00 31 PM" src="https://user-images.githubusercontent.com/26087892/163277582-05658163-19aa-4e18-b09b-ad385398c6ec.png">

[2022-04-13 22:16] GabeIsman commented on #537
Yea `db:schema:load` wipes out all the data, so that would have nuked your user account too.

Did you run the `postdeploy.sh` [command](https://github.com/themarshallproject/klaxon/blob/develop/postdeploy.sh)? Part of that is running  `rake users:create_admin`, which ensures that the admin user exists. It runs on every deploy, so you could always just trigger a fresh deploy too. Or just `heroku ru

[2022-04-19 19:19] aandreiu commented on #373
Hello! My name is Alexandra Andreiu and I am a Masters Student at Northwestern taking on a class centered around making contributions on an open source journalism project for the quarter. I wanted to help with Klaxon, and think that I could help with this issue. Let me know if that would be ok, and whether there is another issue that I could help with as well!

[2022-04-20 16:51] tommeagher commented on #373
Hi @aandreiu. We'd love to have you contribute to Klaxon (and this class sounds awesome). If you think you can help with this, that'd be great. It looks like this issue might actually be closely related to #70 as well, so it would be worth looking at that. You might be able to fix both at the same time. We gladly accept pull requests.

If you knock this one out and are looking for other issues to

[2022-04-20 20:20] bfeldman89 commented on #537
It's still not working. Here's my command line input and output:

[code]

<img width="1440" alt="Screen Shot 2022-04-20 at 3 19 17 PM" src="https://user-images.githubusercontent.com/26087892/164315845-908ced16-0b2b-4239-998c-4614f84ad159.png">

[2022-05-11 14:51] JoeGermuska commented on #32
It's kind of confusing that there are `Dockerfile`, `docker-compose.yml`, and `DOCKER.md` files in the root of the repository, but also `/docker_example/` with different specifics.

Can anyone clarify the intentions here?

[2022-05-11 20:55] JoeGermuska commented on #32
Just to log, I started a draft PR #547 ... my focus is more on development with Docker than deployment, but it's definitely connected to this one.

[2022-05-19 20:23] rdmurphy commented on #373
Hello @aandreiu! I think what we're missing here is what's called an [Action Mailer preview](https://guides.rubyonrails.org/action_mailer_basics.html#previewing-emails). These live within the [`spec/mailers/previews` directory](https://github.com/themarshallproject/klaxon/tree/develop/spec/mailers/previews) but it doesn't look like we have one for the [`ChangeMailer`](https://github.com/themarshal

[2022-06-13 20:25] chrismp commented on #140
Has this feature been implemented?

[2022-06-13 21:11] tommeagher commented on #140
Hi @chrismp, no, this feature has not been implemented. We're hoping someone will want to give it a shot. We accept pull requests.

[2022-06-18 08:58] AlphonceWadenya opened #556 "Application Error"
@GabeIsman @tommeagher

My goal is to log in to the Klaxon page. I followed ALL the steps up to getting my SendGrid account activated. But when I open the app, I get an Application error. Presently, the only errors I see from Papertrail and the Heroku CLI are "App crashed" and "DEPRECATION WARNING".

![application_error](https://user-images.githubusercontent.com/92175564/174430484-41a68234-b0f5-40

[2022-07-06 15:48] RidleyJG opened #560 "Feed only updates after manually selecting 'latest change' on web"
I'm running into an issue where the Klaxon Feed will only update with new entries once I've clicked on a watched item's 'latest change' button within the web interface of the application. Heroku's log appears to show the app working as intended, though no changes are being sent to the Feed automatically, and therefore Slack and Discord notifications no longer function. Any ideas welcome, thanks.

[2022-07-06 16:20] immewnity commented on #560
Is the rake functioning running every 10-ish minutes?

[2022-07-06 16:39] RidleyJG commented on #560
It is, yeah. Every 10 minutes. I also set up a new rake command on a hobby dyno but same issue, so I went back to the free dyno option and the issue persists, unfortunately. Klaxon has been working as intended for around 2 years now, but suddenly ran into this issue on a few days ago.

[2022-07-07 10:00] #560 closed, assigned to nobody

[2022-08-25 16:17] ajschaf opened #576 "Heroku alternatives"
Heroku will [no longer be offering](https://blog.heroku.com/next-chapter) free dynos or postgres as of Nov. 28, 2022. Are there any other options for Klaxon users?

[2022-08-25 17:15] tommeagher commented on #576
Hi @ajschaf. Thanks for raising this issue. We saw the news today as well. In the immediate term, we don't have plans to find a Heroku alternative, but we haven't had a chance to really process it yet. For heavy Klaxon users, the free tiers of Heroku generally didn't last very long, so we had advised folks they would want to consider upgrading to the $7 a month plan.

We'll need to consider this a

[2022-08-25 17:36] immewnity commented on #404
Not that more reasons to move away from SendGrid are really needed, but Microsoft now blocks several SendGrid free IPs from sending email to Outlook/Live/Hotmail accounts. Here's a reply I received while troubleshooting (this isn't the only IP I've seen blocked):

[2022-08-26 06:38] rdmurphy commented on #404
I don't see it in Heroku's add-on's list so you'd have to create your own account outside of Heroku's ecosystem, but I'm curious if anyone has ever tried [SMTP2GO](https://www.smtp2go.com/). Has a reasonably decent free plan but I fear it may suffer from some of the same issues unless you have a domain to set up with it, though.

[2022-09-02 02:51] immewnity commented on #556
Is this occurring from the master branch or the develop branch? I'm seeing the issue in develop, but not master.

[2022-09-02 04:13] immewnity commented on #404
Got a working Mailgun integration at [/immewnity/klaxon/tree/mailgun](/immewnity/klaxon/tree/mailgun) - this branch also includes the Microsoft Teams integration proposed in #514 and the develop fix in #578 .

[2022-09-02 04:13] immewnity commented on #411
Got a working Mailgun integration at [/immewnity/klaxon/tree/mailgun](/immewnity/klaxon/tree/mailgun) - this branch also includes the Microsoft Teams integration proposed in #514 and the develop fix in #578 .

[2022-09-02 07:45] AlphonceWadenya commented on #556
It did occur from the develop branch. After forking the marshall project repository, I should've deployed from the master branch. Thank you for your time.

[2022-09-09 08:00] razvansadeanu opened #579 "Keep getting "Can't verify CSRF token authenticity" error using Docker"
This error has been bothering me for a few days, to give some context, I try to run klaxon locally using Docker but every time I try to log in using ADMIN_EMAIL I get error 422 ( Can't verify CSRF token authenticity. ActionController::InvalidAuthenticityToken (ActionController ::InvalidAuthenticityToken).
To reproduce the error:
- clone the klaxon repo locally
- use the develop branch
- go to dock

[2022-09-09 13:42] immewnity commented on #579
Try cloning master instead of develop - the develop branch is currently broken.

[2022-09-10 20:30] razvansadeanu commented on #579
@immewnity thank you for quick answer, unfortunately, the same error on the master branch

[2022-09-11 23:35] razvansadeanu commented on #579
The source of the error in my case was because I was NOT in an HTTPS environment. To fix the problem, I added traefik to the docker-compose file, here is a suggestive [link](https://doc.traefik.io/traefik/user-guides/docker-compose/acme-tls/)

[2022-09-11 23:35] #579 closed

[2022-09-29 02:01] dchen211 opened #584 "Application Error"
Hi,

Trying to set up Klaxon, but an Application Error message when I click on the link.

This is what appears in the log.

2022-09-29T01:56:07.956661+00:00 heroku[router]: at=error code=H10 desc="App crashed" method=GET path="/" host=abctwb-klaxon.herokuapp.com request_id=95eb3fa0-cf5a-45fa-8222-f38e082aeffd fwd="203.2.218.131" dyno= connect= service= status=503 bytes= protocol=https
2022-09-29T0

[2022-10-12 22:39] #584 closed

[2022-10-20 18:59] tommeagher opened #588 "Influence Klaxon's future. Tell us how you use it today."
Hello fellow Klaxon users,
It’s been a while since you’ve heard from us, in part because our newsroom has been growing, keeping us busier than ever with our day jobs. But we’ve been thinking quite a bit lately about the future of Klaxon. (tl;dr - Help us by taking [this quick survey on how you use Klaxon](https://docs.google.com/forms/d/e/1FAIpQLSdeLXUt7CTQOyXILLTrWSt9Nm-zivoVPHH1_6V8pkstkI2BLQ/vi

[2022-10-20 19:03] tommeagher commented on #576
@ajschaf we're continuing to explore options for what this means for Klaxon users, along with Sendgrid's many problems. We're asking our users to share more of their insights into how (and whether) they're using Klaxon today. Please take a look at #588. We'd love to hear from you.

[2022-10-20 19:04] tommeagher commented on #512
@knutwannheden  Thanks again for your suggestion. We're asking our users to share more of their insights into how (and whether) they're using Klaxon today. Please take a look at #588. We'd love to hear from you.

[2022-10-31 07:58] r-mcilwain commented on #576
I have proposed Klaxon to the [wishlist](https://github.com/YunoHost/doc/compare/master...r-mcilwain:doc:patch-1) of [Yunohost](https://yunohost.org/en/install), which offers the simplicity of a Heroku install with the added benefit that it is self-hosted.

[2022-11-05 14:56] scowalt commented on #556
I have this same error when deploying from the current `master` branch

[2022-11-05 16:17] GabeIsman commented on #556
Sorry for the less-than-timely response, we're stretched pretty thin for maintenance on this project. I think this should be fixed as of just now on the `develop` branch now. Want to try that out?

[2022-11-20 15:38] tommeagher commented on #576
We've heard from a lot of our users, but we have not yet found a viable free alternative to Heroku at this point, so we're advising those who have been using those tiers to upgrade to the least expensive services Heroku offers, which will run about $10/month for dynos and Postgres. More details on how to do it are here: https://github.com/themarshallproject/klaxon/blob/develop/HEROKU_UPGRADE.md

[2022-11-20 15:38] #576 closed